/* -------------------- Sprite icons -------------------- *//*
.i-sprite:before,
.i-sprite-after:after { background: url('../../img/icons/spritesheet.png') 0 0 no-repeat; content: ''; }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {

    .i-sprite:before,
    .i-sprite-after:after { background-image: url('../../img/icons/spritesheet@2x.png') !important; background-size: 36px 12px !important; }

}

.i-sprite-:before { width: 0; height: 0; background-position: 0 0; }*/


/* -------------------- Font icons -------------------- */
@font-face {
    font-family: 'Zuub';
    src: url('../fonts/icons/zuub.eot?16330151');
    src: url('../fonts/icons/zuub.eot?16330151#iefix') format('embedded-opentype'),
         url('../fonts/icons/zuub.woff2?16330151') format('woff2'),
         url('../fonts/icons/zuub.woff?16330151') format('woff'),
         url('../fonts/icons/zuub.ttf?16330151') format('truetype'),
         url('../fonts/icons/zuub.svg?16330151#slw') format('svg');
    font-weight: normal;
    font-style: normal;
}

.i-icon:before,
.i-icon-after:after { width: auto; line-height: 1; font-weight: normal; font-style: normal; font-family: 'Zuub', sans-serif; text-decoration: none; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.i-arrow-down:before { content: '\e800'; } /* '' */
.i-arrow-next:before { content: '\e801'; } /* '' */
.i-arrow-prev:before { content: '\e802'; } /* '' */
.i-arrow-up:before { content: '\e803'; } /* '' */
.i-chevron-down:before { content: '\e804'; } /* '' */
.i-chevron-left:before { content: '\e805'; } /* '' */
.i-chevron-right:before { content: '\e806'; } /* '' */
.i-chevron-up:before { content: '\e807'; } /* '' */
.i-close:before { content: '\e808'; } /* '' */
.i-files:before { content: '\e809'; } /* '' */
.i-location:before { content: '\e80a'; } /* '' */
.i-magnifier:before { content: '\e80b'; } /* '' */
.i-play:before { content: '\e80c'; } /* '' */
.i-prexpert-sm:before { content: '\e80d'; } /* '' */
.i-reviews:before { content: '\e80e'; } /* '' */
.i-safety:before { content: '\e80f'; } /* '' */
.i-technologies:before { content: '\e810'; } /* '' */
.i-view-list:before { content: '\e811'; } /* '' */
.i-view-map:before { content: '\e812'; } /* '' */
.i-pages-articles:before { content: '\e813'; } /* '' */
.i-pages-dentists:before { content: '\e814'; } /* '' */
.i-pages-reviews:before { content: '\e815'; } /* '' */
.i-pages-video:before { content: '\e816'; } /* '' */
.i-pages-works:before { content: '\e817'; } /* '' */
.i-benefits-01:before { content: '\e818'; } /* '' */
.i-benefits-02:before { content: '\e819'; } /* '' */
.i-benefits-03:before { content: '\e81a'; } /* '' */
.i-benefits-04:before { content: '\e81b'; } /* '' */
.i-benefits-05:before { content: '\e81c'; } /* '' */
.i-benefits-06:before { content: '\e81d'; } /* '' */
.i-benefits-07:before { content: '\e81e'; } /* '' */
.i-benefits-08:before { content: '\e81f'; } /* '' */
.i-services-bite-correction:before { content: '\e820'; } /* '' */
.i-services-dentistry:before { content: '\e821'; } /* '' */
.i-services-for-children:before { content: '\e822'; } /* '' */
.i-services-gums-treatment:before { content: '\e823'; } /* '' */
.i-services-implantation:before { content: '\e824'; } /* '' */
.i-services-prosthetics:before { content: '\e825'; } /* '' */
.i-services-removing:before { content: '\e826'; } /* '' */
.i-services-surgery:before { content: '\e827'; } /* '' */
.i-services-veneers:before { content: '\e828'; } /* '' */
.i-check:before { content: '\e829'; } /* '' */
.i-soc-google:before { content: '\e82a'; } /* '' */
.i-soc-youtube:before { content: '\e82b'; } /* '' */
.i-phone:before { content: '\e82c'; } /* '' */
.i-metro:before { content: '\e82d'; } /* '' */
.i-chevron-circled-left:before { content: '\e82e'; } /* '' */
.i-chevron-circled-right:before { content: '\e82f'; } /* '' */
.i-chevron-circled-up:before { content: '\e830'; } /* '' */
.i-chevron-circled-down:before { content: '\e831'; } /* '' */
.i-services-whitening:before { content: '\e832'; } /* '' */
.i-services-cleaning:before { content: '\e833'; } /* '' */
.i-files-pdf:before { content: '\e834'; } /* '' */
.i-files-doc:before { content: '\e835'; } /* '' */
.i-checkbox:before { content: '\e836'; } /* '' */
.i-soc-vk:before { content: '\e837'; } /* '' */
.i-soc-instagram:before { content: '\e838'; } /* '' */
.i-soc-facebook:before { content: '\e839'; } /* '' */
.i-info:before { content: '\e83a'; } /* '' */
.i-dz-cross:before { content: '\e83b'; } /* '' */
.i-dz-check:before { content: '\e83c'; } /* '' */
.i-services-removing-2:before { content: '\e83d'; } /* '' */
.i-services-diagnosis:before { content: '\e83f'; } /* '' */
.i-services-hygiene:before { content: '\e840'; } /* '' */