/* -------------------- Reset -------------------- */
.b-form input::-ms-clear,
.b-form textarea::-ms-clear { visibility: hidden; }
.b-form textarea { overflow: auto; }

/*input, select { -webkit-appearance: none; -moz-appearance: none; }*/

/* --------------------
   -------------------- Forms layout -------------------- */
.b-form { position: relative; font: 300 14px/1.5 'Roboto', sans-serif; color: #575757; }

.b-wysiwyg .b-form { margin: 32px 0; }

.b-wysiwyg .b-form:first-child { margin-top: auto; }
.b-wysiwyg .b-form:last-child { margin-bottom: auto; }

.b-form .row,
.b-form .flex { margin-bottom: -15px; }

.b-form .row [class*="col-"],
.b-form .flex [class*="col-"] { margin-bottom: 15px; }

.b-form .row [class*="row-table"] [class*="col-"] { padding-bottom: 15px; }

/* * * * * *
 * * * * * * Form boxes * * * * * */
.b-form_box,
.b-form_box_field,

.b-form input,
.b-form textarea,

.b-form .e-select,
.b-form .e-uploader { position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.b-form_box,
.b-form_box_field { display: block; }

.b-form_box { margin-bottom: 15px; }
.b-form_box__expand { margin-bottom: 25px; }

.b-form_box:last-child { margin-bottom: auto; }

/* * * * * *
 * * * * * * Form footer * * * * * */
.b-form_bottom { margin-top: 20px; white-space: nowrap; }
.b-form_bottom__single { clear: both; margin-top: auto; }

.b-form_bottom > a,
.b-form_bottom > span,
.b-form_bottom > button { display: inline-block; vertical-align: middle; margin-right: 4px; }

.b-form_bottom__right { text-align: right; }
.b-form_bottom__right > a,
.b-form_bottom__right > button { display: inline-block; margin-left: 7px; margin-right: 0; }

.b-form_bottom__center { text-align: center; }
.b-form_bottom__center > a,
.b-form_bottom__center > button { display: inline-block; margin: 0 7px; }

/* * * * * *
 * * * * * * Form footer offsets * * * * * */
@media (min-width: 768px) {

    .b-form_box__line ~ .b-form_bottom { padding-left: 130px; }

}


/* -------------------- Forms elements -------------------- */
/* * * * * *
 * * * * * * Labels * * * * * */
.b-form_box_title { display: block; margin-bottom: 16px; font: 300 1em 'Roboto', sans-serif; }
.b-form_box_title.required:after { color: #c54080; content: ' \002A'; }

@media (min-width: 768px) {

    .b-form_box__line { display: table; width: 100%; border-spacing: 0; }

    .b-form_box__line .b-form_box_field ~ .b-form_box_field { padding-left: 6px; }

    .b-form_box__line .b-form_box_field,
    .b-form_box__line .b-form_box_title { display: table-cell; vertical-align: middle; }

    .b-form_box__line .b-form_box_title { padding: 0 15px 0 0; width: 115px; }

    .b-form_box__line .b-form_box_title__top { vertical-align: top; padding-top: 6px; }
    .b-form_box__line .b-form_box_title__right { text-align: right; }

}

.b-form_box__row .b-form_box_title,
.b-form_box__row .b-form_box_field  { display: inline-block; margin-right: 6px; }

.b-form_box__row .b-form_box_field .b-rating { position: relative; bottom: -3px; }

/* * * * * *
 * * * * * * Field sets * * * * * */
.b-form_set ~ .b-form_set { margin: 24px 0 0; }
.b-form_set_legend { display: block; margin-bottom: 8px; font: 700 15px 'Roboto', sans-serif; color: #282f3d; }


/* --------------------
   -------------------- Forms fields -------------------- */
/* * * * * *
 * * * * * * Fields * * * * * */
.b-form_box_field input[type="text"],
.b-form_box_field input[type="tel"],
.b-form_box_field input[type="password"],

.b-form_box_field textarea,

.b-form_box_field .e-select,
.b-form_box_field .selectric { display: block; position: relative; padding: 0 18px; width: 100%; height: 40px; font: 300 14px 'Roboto', sans-serif; text-overflow: ellipsis; text-shadow: none; color: #000; background: #f1f1f1; border: 1px solid transparent; border-radius: 4px; }

.b-form_box_field textarea { padding: 13px 18px; max-width: 100%; height: 100px; min-height: 100px; resize: none; }

.b-form_box_field textarea.b-form_box_field_2x { height: 95px; min-height: 95px; }
.b-form_box_field textarea.b-form_box_field_3x { height: 150px; min-height: 150px; }
.b-form_box_field textarea.b-form_box_field_4x { height: 205px; min-height: 205px; }
.b-form_box_field textarea.b-form_box_field_5x { height: 260px; min-height: 260px; }

.b-form_box_field .e-select,
.b-form_box_field .selectric { padding: 0 40px 0 18px; text-align: left; }

.b-form_box_field .e-select span,
.b-form_box_field .selectric .label { display: block; overflow: hidden; width: 100%; line-height: 38px; white-space: nowrap; text-overflow: ellipsis; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.b-form_box_field .e-select:before,
.b-form_box_field .selectric:before { position: absolute; right: 0; top: 0; width: 36px; font: 400 12px/38px 'Zuub', sans-serif; text-align: center; color: #555f69; content: '\e804'; }

/* * * * * *
 * * * * * * Field icons * * * * * */
/*
.b-form_box_field__icon:before { position: absolute; z-index: 1; top: 0; right: 0; width: 40px; height: 40px; text-align: center; font: 400 14px/40px '32dent', 'sans-serif'; color: rgba(0, 0, 0, .15); visibility: hidden; opacity: 0; -webkit-transition: all 250ms; -moz-transition: all 250ms; transition: all 250ms; }

.b-form_box.m-valid .b-form_box_field__icon:before { visibility: visible; opacity: 1; content: '\e811'; }
.b-form_box.m-error .b-form_box_field__icon:before { visibility: visible; opacity: 1; content: '\e812'; }
*/

/* * * * * *
 * * * * * * Radio/checkboxes * * * * * */
.b-form_box_field label { display: inline-block; position: relative; margin-right: 12px; font: 300 14px 'Roboto', sans-serif; -webkit-transition: color 250ms; -moz-transition: color 250ms; transition: color 250ms; cursor: pointer; }

.b-form_box_field label > .radio,
.b-form_box_field label > .checker,
.b-form_box_field label > input { vertical-align: -1px; margin: 0 8px 0 0; }

.b-form_box_field.list label { display: block; margin: 0; }
.b-form_box_field.list label ~ label { margin-top: 12px; }

.b-form_box_field label:hover { color: #c54080; }

/* * * * * *
 * * * * * * Captcha * * * * * */
.b-form_captcha { white-space: nowrap; }
.b-form_captcha input[type="text"] { display: inline-block; vertical-align: middle; max-width: 120px; margin-left: 7px; }

.b-form_captcha_img { display: inline-block; vertical-align: middle; width: auto; height: 52px; }

/* * * * * *
 * * * * * * reCaptcha * * * * * */
.b-form .g-recaptcha > div { position: relative; padding: 0; width: 100% !important; max-width: 300px; overflow: hidden; border-right: 1px solid #d3d3d3; border-radius: 4px; box-shadow: 2px 0 4px -1px rgba(0, 0, 0, .08); }
.b-form .g-recaptcha iframe { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }


/* --------------------
   -------------------- Transitions -------------------- */
/* * * * * *
 * * * * * * Fields * * * * * */
.b-form_box_field input,
.b-form_box_field textarea,

.b-form_box_field .e-select { transition: color 400ms, background 400ms, border 400ms, box-shadow 400ms; }


/* --------------------
   -------------------- Forms elements states -------------------- */
/* * * * * *
 * * * * * * Fields read only * * * * * */
.b-form_box_field input[readonly],
.b-form_box_field textarea[readonly],
.b-form_box_field .e-select.readonly { background: #fff; border-color: #d5d5d5; cursor: not-allowed; }

/* * * * * *
 * * * * * * Fields disabled * * * * * */
.b-form_box_field input[disabled],
.b-form_box_field textarea[disabled],
.b-form_box_field .e-select.disabled { color: #999; background: #f5f5f5; border-color: #d5d5d5; cursor: not-allowed; }

/* * * * * *
 * * * * * * Elements focus * * * * * */
.b-form_box_field input:focus,
.b-form_box_field textarea:focus,

.b-form_box_field .e-select.focus,
.b-form_box_field .selectric-open .selectric { border-color: #64ca94 !important; }

.b-form_box_field .e-select.focus:before,
.b-form_box_field .selectric-open .selectric:before { color: #64ca94 !important; }

/* * * * * *
 * * * * * * Elements error * * * * * */
.b-form_box.m-error .b-form_box_field input,
.b-form_box.m-error .b-form_box_field textarea,

.b-form_box.m-error .b-form_box_field .e-select,
.b-form_box.m-error .b-form_box_field .selectric { color: #c54080 !important; border-color: #c54080 !important; }

/* * * * * *
 * * * * * * Placeholders * * * * * */
.b-form_box_field input[placeholder],
.b-form_box_field textarea[placeholder] { text-overflow: ellipsis; }

.b-form_box_field input::-webkit-input-placeholder,
.b-form_box_field textarea::-webkit-input-placeholder { font-weight: 300; font-style: normal; color: #939393 !important; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field input:-moz-placeholder,
.b-form_box_field textarea:-moz-placeholder { font-weight: 300; font-style: normal; color: #939393 !important; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field input:-ms-input-placeholder,
.b-form_box_field textarea:-ms-input-placeholder { font-weight: 300; font-style: normal; color: #939393 !important; text-overflow: ellipsis; -webkit-transition: all 250ms ease; -moz-transition: all 250ms ease; transition: all 250ms ease; }

.b-form_box_field .e-select .placeholder,
.b-form_box_field .selectric .placeholder { font-weight: 300; font-style: normal; color: #939393 !important; }

/* * * * * *
 * * * * * * Placeholders on focus * * * * * */
.b-form_box_field input:focus:-moz-placeholder,
.b-form_box_field textarea:focus:-moz-placeholder { color: transparent !important; }

.b-form_box_field input:focus::-webkit-input-placeholder,
.b-form_box_field textarea:focus::-webkit-input-placeholder { color: transparent !important; }

.b-form_box_field input:focus:-ms-input-placeholder,
.b-form_box_field textarea:focus:-ms-input-placeholder { color: transparent !important; }

/* * * * * *
 * * * * * * Label placeholders * * * * * */
label.b-form_box_field_placeholder { display: block; position: absolute; left: 18px; top: 0; right: 18px; padding: 0; margin: 0; font: 300 1em/40px 'Roboto', sans-serif; color: #939393 !important; text-overflow: ellipsis; overflow: hidden; box-sizing: border-box; transition: all 250ms; cursor: text; pointer-events: none; }

label.b-form_box_field_placeholder.complete,

input:focus ~ label.b-form_box_field_placeholder,
textarea:focus ~ label.b-form_box_field_placeholder { opacity: 0; visibility: hidden; }

/* * * * * *
 * * * * * * Placeholders on error * * * * * */
.b-form_box.m-error .b-form_box_field input:-moz-placeholder,
.b-form_box.m-error .b-form_box_field textarea:-moz-placeholder {  }

.b-form_box.m-error .b-form_box_field input::-webkit-input-placeholder,
.b-form_box.m-error .b-form_box_field textarea::-webkit-input-placeholder {  }

.b-form_box.m-error .b-form_box_field input:-ms-input-placeholder,
.b-form_box.m-error .b-form_box_field textarea:-ms-input-placeholder {  }


/* --------------------
   -------------------- Widgets -------------------- */
/* * * Spinner * * */
.b-spinner { display: inline-block; position: relative; margin-right: 7px; padding: 0 36px; white-space: nowrap; }

.b-spinner input[type="text"] { display: block; position: relative; padding: 0 15px; max-width: 80px; width: 100%; height: 30px; font: 300 14px 'Roboto', sans-serif; text-align: center; text-overflow: ellipsis; text-shadow: none; color: #808080; background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMAEgcNncH7/gAAABdJREFUeAFjYIQDZCYzHDAwwQEykzwAABwlAFs0HkSRAAAAAElFTkSuQmCC') left top repeat-x; border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.b-spinner input[type="text"]:focus { border-color: #30b4e5 !important; }

.b-spinner .e-btn[data-spin] { position: absolute; top: 0; width: 30px; height: 30px; padding: 0 !important; font: 700 22px/24px 'Roboto', sans-serif; text-indent: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.b-spinner .e-btn[data-spin="up"] { right: 0; }
.b-spinner .e-btn[data-spin="down"] { left: 0; }


/* --------------------
   -------------------- Notifications -------------------- */
/* * * * * *
 * * * * * * Notices * * * * * */
.b-form_notice { margin-top: 10px; padding: 0 20px; font: 300 1em/1.25 'Roboto', sans-serif; white-space: normal; }
.b-form_notice:first-child { margin-top: 0; margin-bottom: 18px; }

.b-form_box_notice { margin-top: 5px; font: 300 11px/1.185 'Roboto', sans-serif; color: #939393; }
.b-form_box_notice__file { margin-left: 30px; }

/* * * * * *
 * * * * * * Errors * * * * * */
.b-form_box_error { margin-top: 0; font: 300 13px/1.25 'Roboto', sans-serif; color: #c54080 !important; max-height: 0; opacity: 0; -webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease; }

.b-form_box_error a { color: inherit; }
.b-form_box_error a:hover { opacity: .5; }

.b-form_box.m-error .b-form_box_error { margin-top: 10px; max-height: 45px; opacity: 1; }

/* * * * * *
 * * * * * * Form notifications * * * * * */
.b-form_message { padding-bottom: 24px; overflow: hidden; visibility: hidden; opacity: 0; -webkit-transition: visibility 250ms, opacity 250ms, overflow 250ms; -moz-transition: visibility 250ms, opacity 250ms, overflow 250ms; -o-transition: visibility 250ms, opacity 250ms, overflow 250ms; transition: visibility 250ms, opacity 250ms, overflow 250ms; }
.b-form_message__show { visibility: visible; opacity: 1; overflow: visible; }

.b-leaflet .b-form_message { padding-bottom: 0; }

.b-form_message + form { visibility: visible; opacity: 1; -webkit-transition: visibility 250ms, opacity 250ms; -moz-transition: visibility 250ms, opacity 250ms; -o-transition: visibility 250ms, opacity 250ms; transition: visibility 250ms, opacity 250ms; }
.b-form_message + form.b-form__hide { visibility: hidden; opacity: 0; }

.b-form_message_balloon { position: relative; padding: 15px; font: 400 14px/1.185 'Roboto', sans-serif; text-align: left; color: #575757; background: #fff; border-radius: 10px; box-shadow: 0 1px 10px rgba(2, 2, 2, .1); }

.b-form_message_balloon__error { color: #c54080; }
.b-form_message_balloon__success { color: #3cb374; }

.b-form_message_balloon_capsule { display: table; width: 100%; }
.b-form_message_balloon_capsule_inner { display: table-cell; vertical-align: middle; }

@media (min-width: 768px) {

    .b-form_message_balloon { padding: 30px 35px; font: 400 16px/1.185 'Roboto', sans-serif; }

}

.b-form_message_balloon h6 { margin-bottom: 12px !important; font: inherit !important; color: inherit !important; }

.b-form_message_balloon p { margin-top: auto !important; margin-bottom: auto !important; }
.b-form_message_balloon p ~ p { margin-top: 12px !important; }

.b-form_message_balloon a { text-decoration: underline; color: inherit; }
.b-form_message_balloon a:hover { text-decoration: none; }

.b-leaflet_box .b-form_message_balloon { padding: 30px 0; font: 500 18px/1.5 'Roboto', sans-serif; text-align: center; background: transparent; box-shadow: none; }


/* --------------------
   -------------------- Design -------------------- */
.b-form__white .b-form_box_field input[type="text"],
.b-form__white .b-form_box_field input[type="tel"],
.b-form__white .b-form_box_field input[type="password"],

.b-form__white .b-form_box_field textarea,

.b-form__white .b-form_box_field .e-select,
.b-form__white .b-form_box_field .selectric { background: #fff; }
