/* --------------------  -------------------- */

/* -------------------- Header -------------------- */
/* * * Header :: social * * */
.b-header_social { display: table; width: 100%; }
.b-header_social li { display: table-cell; text-align: center; }

.b-header_social li:first-child { width: 29px; text-align: left; }
.b-header_social li:last-child { width: 29px; text-align: right; }

.b-header_social a { display: inline-block; }


/* -------------------- Page elements -------------------- */
/* * * Page anchors * * */
.b-main_anchors { display: table; border-collapse: collapse; }
.b-main_anchors a { display: table-cell; padding-right: 25px; text-align: center; border-bottom: 1px solid #e1e1e1; }

.b-main_anchors a:first-child { text-align: left; white-space: nowrap; }
.b-main_anchors a:last-child { text-align: right; white-space: nowrap; }


/* -------------------- Search -------------------- */
/* * * Search :: filter * * */
@media (min-width: 768px) {

    .b-search_filter { position: absolute; top: 0; right: 40px; bottom: 0; margin-top: 0; width: 220px; }

}