/* -------------------- Reset -------------------- */
* { margin: 0; outline: none; }
article, aside, figure, footer, header, nav, main, section, details, summary { display: block; }
body, p, ul, li, ol, pre, caption, h1, h2, h3, h4, h5, h6, form, div, fieldset, legend { padding: 0; }

html { width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { display: block; position: relative; min-height: 100%; height: 100%; width: 100%; font: 300 .625em 'Roboto', sans-serif; color: #575757; background: #f1f1f1; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: scrollbar; }
img, fieldset { border: 0; }

input, textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input::-moz-focus-inner, textarea::-moz-focus-inner, select::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }
input[type="text"], input[type="password"], button, textarea { -webkit-appearance: none; }

a, button { transition: color 250ms, background 250ms, border 250ms, opacity 250ms; }

iframe { border: none; }


/* ----------------------- Global ----------------------- */
.g-hidden { display: none; visibility: hidden; }
.g-invisible { opacity: 0; visibility: hidden; }

.g-relative { position: relative; z-index: 5; }

@media (min-width: 768px) {

    .g-pull-left { float: left; margin: 2px 20px 20px 0 !important; }
    .g-pull-right { float: right; margin: 2px 0 20px 20px !important; }

    .g-pull-left + *,
    .g-pull-right + * { margin-top: 12px !important; }

    .g-pull-wrapper { overflow: hidden; }

    p + .g-pull-left,
    p + .g-pull-right { margin-top: 22px !important; }

    p + .g-pull-left + *,
    p + .g-pull-right + * { margin-top: 28px !important; }

}

.g-left { text-align: left; }
.g-center { text-align: center; }
.g-right { text-align: right; }

@media (max-width: 479px) {

    .g-left-xs { text-align: left; }
    .g-center-xs { text-align: center; }
    .g-right-xs { text-align: right; }

}

@media (min-width: 480px) and (max-width: 767px) {

    .g-left-sm { text-align: left; }
    .g-center-sm { text-align: center; }
    .g-right-sm { text-align: right; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .g-left-md { text-align: left; }
    .g-center-md { text-align: center; }
    .g-right-md { text-align: right; }

}

@media (min-width: 1200px) {

    .g-left-lg { text-align: left; }
    .g-center-lg { text-align: center; }
    .g-right-lg { text-align: right; }

}

.g-thin { font-weight: 100; }
.g-nowrap { white-space: nowrap; }

.g-dashed { line-height: 1; text-decoration: none !important; border-bottom-width: 1px; border-bottom-style: dashed !important; }
.g-solid { line-height: 1; text-decoration: none !important; border-bottom-width: 1px; border-bottom-style: solid !important; }

.g-dashed:hover { border-bottom-color: transparent !important; }
.g-solid:hover { border-bottom-color: transparent !important; }

.g-pseudo-link { text-decoration: underline; color: #3ab9e2; cursor: pointer !important; }
.g-pseudo-link:hover { text-decoration: none; }

.g-transition { transition: all 250ms; }
.g-transition-transform { transition: transform 250ms, opacity 250ms, visibility 250ms; }

.g-expand-background { position: relative; }

.g-expand-background:after,
.g-expand-background:before { position: absolute; z-index: -1; top: 0; bottom: 0; width: 200%; background: inherit; content: ''; }

.g-expand-background:after { left: 100%; }
.g-expand-background:before { right: 100%; }

.g-green { color: #3cb374; }
.g-crimson { color: #c54080; }

/* * * Buttons * * */
.e-btn { display: inline-block; vertical-align: top; position: relative; text-decoration: none !important; text-align: center; outline: none; cursor: pointer; border: 1px solid transparent; background-clip: padding-box; box-sizing: border-box; transition: color 250ms, background 250ms, border 250ms, opacity 250ms; }

.e-btn_md { padding: 13px 16px 12px; font: 500 11px/1 'Roboto', sans-serif; letter-spacing: .05em; text-transform: uppercase; border-radius: 4px; }

.e-btn_green { color: #fff !important; background: #3cb374; border-color: #3cb374; }
.e-btn_green:hover { color: #fff !important; background: #64ca94; border-color: #64ca94; }

.e-btn_green_outline { color: #3cb374 !important; background: transparent; border-color: #3cb374; }
.e-btn_green_outline:hover { color: #64ca94 !important; background: transparent; border-color: #64ca94; }

.e-btn[disabled] { text-shadow: none !important; color: #eee !important; background: #848484 !important; border-color: #848484 !important; cursor: default; }

/* * * Buttons :: mods * * */
.e-btn_block { display: block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; width: 100%; }

@media (max-width: 479px) {
    .e-btn_block_xs { display: block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; width: 100%; }
}

@media (min-width: 480px) and (max-width: 767px) {
    .e-btn_block_sm { display: block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; width: 100%; }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .e-btn_block_md { display: block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; width: 100%; }
}

@media (min-width: 1200px) {
    .e-btn_block_lg { display: block; padding-left: 5px; padding-right: 5px; margin-left: 0; margin-right: 0; width: 100%; }
}


/* -------------------- Page -------------------- */
.b-page { position: relative; overflow: hidden; min-width: 320px; min-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.b-page_container { position: relative; padding-left: 0; padding-right: 0; min-height: 100vh; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 1200px) {

    .b-page { padding-left: 10px; padding-right: 10px; }

    .b-notice + .b-page_container { padding-top: 39px; }
    .b-notice + .b-page_container .b-header { padding-top: 74px; }

}

/* * * Page :: Content * * */
.b-main { font: 300 1.4em/1.28571428571429 'Roboto', sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.b-main_box { padding: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.b-main_box__white { background: #fff; }

@media (min-width: 768px) {

    .b-main { font: 300 1.6em/1.5 'Roboto', sans-serif; }
    .b-main_box { padding: 15px 25px; }

}

@media (min-width: 1200px) {

    .b-main { padding-top: 35px; }
    .b-main_box { padding: 20px 40px; }

}

/* * * Page :: Content :: Hiatus * * */
@media (min-width: 1200px) {

    .b-main__hiatus { margin-left: -40px; margin-right: -40px; padding-left: 40px; padding-right: 40px; background: #f1f1f1; }
    .b-main__hiatus__last { margin-bottom: -20px; }

}

/* * * Page :: Sections * * */
.b-section { position: relative; }

.b-section__gray,
.b-section__hiatus { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; background: #f7f7f7; }

.b-section__hiatus { background: #f1f1f1; }

@media (max-width: 479px) {

    .b-section__gray_clear_xs { background: none; }
    .b-section__hiatus_clear_xs { background: none; }

    .b-section__collapsed_xs { padding-top: 0; padding-bottom: 0; }

}

@media (min-width: 480px) and (max-width: 767px) {

    .b-section__gray_clear_sm { background: none; }
    .b-section__hiatus_clear_sm { background: none; }

    .b-section__collapsed_sm { padding-top: 0; padding-bottom: 0; }

}

@media (min-width: 768px) {

    .b-section__gray,
    .b-section__hiatus { margin-left: -25px; margin-right: -25px; padding-left: 25px; padding-right: 25px; }

}

@media (min-width: 1200px) {

    .b-section__gray,
    .b-section__hiatus { margin-left: -40px; margin-right: -40px; padding-left: 40px; padding-right: 40px; }

}

/* * * Page :: Sections :: Closed * * */
.b-section__closed { padding-top: 25px; padding-bottom: 25px; }

.b-section__closed.b-section__last { margin-bottom: -15px; }
.b-section__closed.b-section__gray + .b-section__closed.b-section__gray { padding-top: 0; }

@media (min-width: 1200px) {

    .b-section__closed { padding-top: 40px; padding-bottom: 40px; }
    .b-section__closed.b-section__last { margin-bottom: -20px; }
}

.b-section__closed .b-wysiwyg > *:last-child { margin-bottom: auto; }

/* * * Page :: Sections :: Footers * * */
.b-section_footer { position: relative; margin-top: 20px; transition: all 250ms; }
.b-section_footer.fade { margin-top: auto; max-height: 0; opacity: 0; visibility: hidden; overflow: hidden; }

.b-section_footer_toggle { font-weight: 400; color: #c54080; cursor: pointer; transition: all 250ms; }


/* -------------------- Header -------------------- */
.b-header,
.b-header_container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.b-header { position: relative; z-index: 25; }

@media (max-width: 1199px) {

    .b-header { position: fixed; z-index: 500; left: 0; top: 0; right: 0; min-width: 320px; background: #fff; box-shadow: 0 0 18px 0 rgba(2, 2, 2, .1); }
    .b-header_container { padding-top: 10px; padding-bottom: 10px; }

}

@media (max-width: 767px) {

    .b-header { padding: 0 5px; }
    .b-header .b-notice { margin: 0 -5px; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-header { padding: 0 15px; }
    .b-header .b-notice { margin: 0 -15px; }

}

@media (min-width: 1200px) {

    .b-header__aside { float: left; position: absolute; padding: 35px 14px; width: 20.83333333%; min-height: 1px; }
    .b-header__aside .b-header_container { position: relative; height: 100%; z-index: 50; padding: 25px 15px 15px; background: #fff; box-shadow: 0 0 18px 0 rgba(2, 2, 2, .1); border-radius: 10px; }

    .b-header__aside ~ .b-main { margin-left: 20.83333333%; padding-left: 15px; padding-right: 15px; }
    .b-header__aside ~ .b-main .b-main_box { float: left; width: 100%; }

    .b-header__aside/*.b-header__fixed*/ { position: fixed; z-index: 2500; top: 0; bottom: 0; padding-top: 35px; padding-bottom: 35px; height: 100vh !important; max-width: 250px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }
    .b-header__aside/*.b-header__fixed*/ .b-header_container { width: 100%; }

/*
    .b-header_container:after { display: block; position: absolute; z-index: 2; left: 0; top: 100%; right: 0; margin-top: -15px; height: 15px; padding: 0 15px; background: inherit; box-shadow: 0 15px 18px 0 rgba(2, 2, 2, .1); border-radius: 0 0 10px 10px; content: ''; box-sizing: border-box; }
    .b-header_container:before { display: block; position: absolute; z-index: 1; left: 0; top: 100%; right: 0; margin-top: -10px; height: 45px; padding: 0 15px; background: #f1f1f1; content: ''; box-sizing: border-box; }
*/

    .b-header_container > .row { height: 100%; overflow: hidden; margin-right: -45px; padding-right: 30px; }

}

/* * * Header :: Logotype * * */
.b-header_logo { display: block; position: relative; margin-left: auto; margin-right: auto; overflow: hidden; }
.b-header_logo img { display: block; position: relative; max-width: 100%; height: auto; }

@media (max-width: 1199px) {

    .b-header_logo { width: 52px; }
    .b-header_logo img { height: 52px; max-width: none; }

}

@media (min-width: 1200px) {

    .b-header_logo { margin-bottom: 20px; }

}

/* * * Header :: phone * * */
.b-header_phone { font: 300 23px/1 'Roboto', sans-serif; letter-spacing: normal; text-transform: uppercase; white-space: nowrap; color: #000; }

.b-header_phone a { text-decoration: none; color: inherit; }
.b-header_phone a:hover { opacity: .75; }

@media (max-width: 1199px) {

    .b-header_phone { margin-top: 15px; }

}

.b-header_call { margin-top: 8px; padding: 7px; width: 37px; height: 37px; font-size: 21px; line-height: 1; border-radius: 4px; }

/* * * Header :: nav * * */
@media (max-width: 1199px) {

    .b-header_nav { position: absolute; z-index: 25; left: 25px; top: 100%; margin-top: 25px; padding: 25px 15px 15px; width: 250px; background: #fff; box-shadow: 0 0 18px 0 rgba(2, 2, 2, .1); border-radius: 10px; box-sizing: border-box; transition: opacity 250ms, visibility 250ms; }

    .b-header .b-header_nav { opacity: 0; visibility: hidden; }
    .b-header.showNav .b-header_nav { opacity: 1; visibility: visible; }

    .b-header_nav.off { opacity: 0 !important; visibility: hidden !important; }

}

@media (max-width: 767px) {

    .b-header_nav { left: 15px; margin-top: 15px; max-width: 290px; }

}

.b-header_nav_toggle { margin-top: 12px; padding: 3px 0 2px 0; font: 500 13px/1 'Roboto', sans-serif; letter-spacing: .075em; text-transform: uppercase; color: #000; background: none; border: none; }
.b-header_nav_toggle span { vertical-align: -3px; padding-left: 9px; }

.b-header_nav_toggle_icon { display: inline-block; vertical-align: middle; position: relative; margin: 7px 0; width: 22px; height: 4px; background: #c54080; }

.b-header_nav_toggle_icon:after { position: absolute; left: 0; top: 7px; width: 22px; height: 4px; background: #c54080; content: ''; transform-origin: 0 2px; }
.b-header_nav_toggle_icon:before { position: absolute; left: 0; bottom: 7px; width: 22px; height: 4px; background: #c54080; content: ''; transform-origin: 0 2px; }

.b-header_nav_toggle_icon,

.b-header_nav_toggle_icon:after,
.b-header_nav_toggle_icon:before { transition: all 250ms; }

.b-header.showNav .b-header_nav_toggle_icon { background: transparent; transform: rotate(180deg); }

.b-header.showNav .b-header_nav_toggle_icon:after { left: 2px; top: 8px; width: 23px; transform: rotate(-45deg); }
.b-header.showNav .b-header_nav_toggle_icon:before { left: 2px; bottom: 8px; width: 23px; transform: rotate(45deg); }

/* * * Header :: nav :: contacts * * */
.b-header_nav_contacts { margin: 0 0 42px; font: 400 1.2em/1 'Roboto', sans-serif; letter-spacing: .085em; text-align: center; text-transform: uppercase; white-space: nowrap; color: #575757; }
.b-header_nav_contacts p ~ p { margin-top: 10px; }

.b-header_nav_contacts .e-btn { margin: 0; width: auto; }

@media (max-width: 1199px) {

    .b-header_nav_contacts { margin: 0 0 20px; }

}

/* * * Header :: nav :: search * * */
.b-header_search_field { position: relative; margin-top: 42px; }

@media (max-width: 1199px) {

    .b-header_search_field { margin-top: 20px; }

}

.b-header_search_field input[type="text"] { display: block; position: relative; width: 100%; height: 40px; padding: 0 56px 0 16px; font: 300 14px/1 'Roboto', sans-serif; color: #666; background: #fff; border: 1px solid #c8c8c8; border-radius: 4px; transition: border-color 250ms; }

.b-header_search_field input[type="text"]:-moz-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }
.b-header_search_field input[type="text"]:-ms-input-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }
.b-header_search_field input[type="text"]::-webkit-input-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }

.b-header_search_field input[type="text"]:focus:-moz-placeholder { color: transparent; }
.b-header_search_field input[type="text"]:focus:-ms-input-placeholder { color: transparent; }
.b-header_search_field input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

.b-header_search_field label.b-form_box_field_placeholder { font: 300 14px/40px 'Roboto', sans-serif !important; font-style: italic !important; color: #c7c7c7 !important; }

.b-header_search_btn { position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; padding: 0; width: 40px; font-size: 18px; line-height: 38px; color: #c8c8c8; background: transparent; border-radius: 0 4px 4px 0; border-left: 1px solid #c7c7c7; }
.b-header_search_btn:hover { color: #c54080; }

.b-header_search_field input[type="text"]:focus { border-color: #c54080; }
.b-header_search_field input[type="text"]:focus ~ .b-header_search_btn { color: #c54080; border-left-color: #c54080; }

/* * * Header :: nav :: social * * */
.b-header_social { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; align-items: center; list-style: none; margin: 18px -20px -10px 0; }
.b-header_social li { display: inline-block; vertical-align: top; margin: 0 22px 10px 0; }

.b-header_social a { display: block; width: 20px; font-size: 20px; line-height: 1px; text-decoration: none; color: #c8c8c8; }
.b-header_social a:hover { color: #c54080; }

/* * * Header :: nav :: menu * * */
.b-header_nav_menu_list { list-style: none; margin: 0 -15px; }
.b-header_nav_menu_list > li ~ li { margin-top: 6px; }

.b-header_nav_menu_list > li > a { display: block; position: relative; padding: 13px 16px 12px; font: 700 13px/1 'Roboto', sans-serif; letter-spacing: .075em; text-transform: uppercase; text-decoration: none; color: #000; }

.b-header_nav_menu_list > li:hover > a,
.b-header_nav_menu_list > li.opened > a { background: #f6f6f6; }

.b-header_nav_menu_list > li:hover > a:before,
.b-header_nav_menu_list > li.opened > a:before { color: #000; }

@media (max-width: 1199px) {

    .b-header_nav_menu_list > li > a { padding: 11px 16px 10px; }
    .b-header_nav_menu_list > li.marker > a:after { display: inline-block; vertical-align: -2px; margin-left: 7px; font: 400 20px/1 'Zuub'; color: #4b4b4b; content: '\e82f'; transition: color 250ms; }

}

@media (min-width: 1200px) {

    .b-header_nav_menu_list > li.marker > a:before { position: absolute; right: 16px; top: 50%; margin-top: -6px; font: 400 12px/1 'Zuub'; color: #b6bcbf; /*color: #e6edf1;*/ content: '\e806'; transition: color 250ms; }

    .b-header_nav_menu_list > li.marker > a:hover:before,
    .b-header_nav_menu_list > li.marker.opened > a:before { color: #000; }

    /* * * Header :: nav :: menu :: tails * * */
    .b-header_nav_menu_list > li.triangle > a:after { position: absolute; z-index: 31; left: 100%; top: 50%; margin-top: -10px; margin-left: 21px; height: 2px; border-top: 9px solid transparent; border-bottom: 9px solid transparent; border-right: 9px solid #fff; content: ''; opacity: 0; visibility: hidden; -webkit-transition: opacity 250ms, visibility 250ms; -moz-transition: opacity 250ms, visibility 250ms; transition: opacity 250ms, visibility 250ms; }
    .b-header_nav_menu_list > li.triangle.opened > a:after { opacity: 1; visibility: visible; }

}

/* * * Header :: nav :: menu :: box * * */
.b-header_nav_menu_box { padding: 20px 32px; width: 290px; background: #fff; box-shadow: 0 0 18px rgba(2, 2, 2, .1); border-radius: 10px; box-sizing: border-box; opacity: 0; visibility: hidden; transition: opacity 250ms, visibility 250ms; }
.b-header_nav_menu_box.opened { opacity: 1; visibility: visible; }

.b-header_nav_menu_box_close { position: absolute; top: 15px; right: 15px; padding: 0; width: 16px; height: 16px; font-size: 16px; line-height: 1; text-align: center; color: #acacac; background: transparent; border: none; }
.b-header_nav_menu_box_close:hover { color: #c54080; }

.b-header_nav_menu_box_list { list-style: none; }
.b-header_nav_menu_box_list__left { padding-left: 20px; }

.b-header_nav_menu_box_list_back { position: absolute; left: -32px; top: 11px; padding: 0; width: 20px; height: 20px; font: 400 20px/1 'Zuub'; text-align: center; color: #454545; background: none; border: none; content: '\e82f'; }
.b-header_nav_menu_box_list_back:hover { color: #c54080; }

.b-header_nav_menu_box_list_footer { padding-top: 8px; border-top: 1px solid #e1e1e1; }

.b-header_nav_menu_box_list > li { display: block; position: relative; }
.b-header_nav_menu_box_list > li > a { display: block; position: relative; padding: 12px 0; font: 500 18px/1.185 'Roboto', sans-serif; text-decoration: underline; color: #000; }

.b-header_nav_menu_box_list a span { position: relative; }
.b-header_nav_menu_box_list a span:after { display: inline-block; position: absolute; vertical-align: 1px; margin-left: 8px; width: 20px; height: 20px; font: 400 20px/1 'Zuub'; text-align: center; color: #454545; content: '\e82f'; transform-origin: 50% 50%; transition: all 250ms; }

.b-header_nav_menu_box_list li a:hover,
.b-header_nav_menu_box_list li a:hover span:after,

.b-header_nav_menu_box_list li.current > a { color: #c54080; }

.b-header_nav_menu_box_list > li > ul { list-style: none; padding: 6px 0 24px; font: 300 14px/1.185 'Roboto', sans-serif; color: #575757; }
.b-header_nav_menu_box_list > li > ul > li ~ li { margin-top: 10px; }

.b-header_nav_menu_box_list > li > ul > li > a { text-decoration: none; color: inherit; }

@media (max-width: 1199px) {

    .b-header_nav_menu_box { position: absolute; z-index: 30; left: 25px; top: 100% !important; margin-top: 25px; }

}

@media (max-width: 767px) {

    .b-header_nav_menu_box { left: 15px; }

}

@media (min-width: 1200px) {

    .b-header_nav_menu_box { position: absolute; z-index: 30; left: 100%; top: 0; margin: -24px 0 0 29px; }

}

/* * * Header :: nav :: menu :: overlay * * */
@media (min-width: 1200px) {

    .b-header_nav_menu_overlay { position: fixed; z-index: 29; left: 0; top: 0; right: 0; bottom: 0; background: #000; opacity: 0; visibility: hidden; transition: all 250ms; }

    .b-header_services.opened ~ .b-header_nav_menu_overlay,
    .b-header_nav_menu_box.opened ~ .b-header_nav_menu_overlay { opacity: .4; visibility: visible; }

}

/* * * Header :: services * * */
.b-header_services { padding: 20px 32px; width: 290px; font: 300 14px/1.185 'Roboto', sans-serif; color: #575757; background: #fff; box-shadow: 0 0 18px rgba(2, 2, 2, .1); border-radius: 10px; box-sizing: border-box; opacity: 0; visibility: hidden; transition: opacity 250ms, visibility 250ms; }
.b-header_services:not(.opened) * { visibility: hidden !important; }

.b-header_services.opened { opacity: 1; visibility: visible; }

@media (max-width: 767px) {

    .b-header_services { position: absolute; z-index: 30; left: 15px; top: 100%; right: 15px; margin-top: 25px; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-header_services { position: absolute; z-index: 30; left: 25px; top: 100%; right: 25px; margin-top: 25px; }

}

@media (min-width: 1200px) {

    .b-header_services { position: absolute; z-index: 30; left: 100%; top: 0; bottom: 0; margin-left: 29px; }

}

.b-header_services_close { position: absolute; top: 15px; right: 15px; padding: 0; width: 16px; height: 16px; font-size: 16px; line-height: 1; text-align: center; color: #acacac; background: transparent; border: none; }
.b-header_services_close:hover { color: #c54080; }

.b-header_services_wrap { position: relative; margin: -5px -26px 0 0; padding: 5px 26px 0 0; overflow: hidden; width: 100%; height: 100%; }

@media (max-width: 767px) {

    .b-header_services_wrap [class*="col-"] ~ [class*="col-"] { margin-top: 16px; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-header_services_wrap .row .row [class*="col-"] ~ [class*="col-"] { margin-top: 20px; }

}

.b-header_services_wrap.ps-active-y .ps-scrollbar-y-rail { right: 9px !important; }
.b-header_services_wrap.ps-active-y ~ .b-header_services_close { right: 30px; }

/* * * Header :: nav :: menu :: services :: content * * */
.b-header_services_header { margin-bottom: 30px; }

.b-header_services_header a { text-decoration: underline; color: #c54080; }
.b-header_services_header a:hover { text-decoration: none; }

.b-header_services_header_toggle { position: relative; font: 400 14px/1 'Roboto', sans-serif; color: #c54080; cursor: pointer; transition: color 250ms, border 250ms; }
.b-header_services_header_toggle:before { position: absolute; left: 100%; top: 2px; margin-left: 10px; font-size: 9px; line-height: 14px; transform-origin: 50% 50%; transition: all 250ms; }

.b-header_services_header_toggle.active:before { transform: rotate(-180deg); }

@media (max-width: 767px) {

    .b-header_services_header { margin-bottom: 18px; padding-bottom: 14px; border-bottom: 1px solid #e1e1e1; }
    .b-header_services_header_title { font: 500 13px/1 'Roboto', sans-serif; text-transform: uppercase; letter-spacing: .065em; color: #000; }

}

.b-header_services_box { position: relative; margin-top: 4px; }
.b-header_services_box ~ .b-header_services_box { margin-top: 16px; }

@media (min-width: 768px) {

    .b-header_services_box { padding-left: 40px; }
    .b-header_services_box ~ .b-header_services_box { margin-top: 20px; }

}

.b-header_services_title { position: relative; margin-bottom: 16px; font: 400 14px/1 'Roboto', sans-serif; color: #000; }

.b-header_services_title a { text-decoration: underline; color: inherit; }
.b-header_services_title a:hover { color: #c54080; }

.b-header_services_title.i-icon:before { position: absolute; top: 50%; left: -40px; margin-top: -14px; font-size: 28px; line-height: 1; color: #c54080; }

@media (max-width: 767px) {

    .b-header_services_title { margin-bottom: auto; padding: 5px 0 5px 36px; }
    .b-header_services_title.i-icon:before { left: 0; }

    .b-header_services_title.js-spoiler-toggle:after { display: inline-block; position: absolute; top: 3px; margin-left: 8px; width: 20px; height: 20px; font: 400 20px/1 'Zuub'; text-align: center; color: #444; content: '\e82f'; transform-origin: 50% 50%; transition: all 250ms; }
    .b-header_services_box.opened .b-header_services_title.js-spoiler-toggle:after { transform: rotate(-90deg); }

}

@media (min-width: 768px) {

    .b-header_services_title { font: 500 18px/1 'Roboto', sans-serif; }
    .b-header_services_title.i-icon:before { margin-top: -15px; }

}

.b-header_services_list { list-style: none; font: 300 1em/1.5 'Roboto', sans-serif; }
.b-header_services_list li ~ li { margin-top: 10px; }

.b-header_services_list a { display: block; position: relative; text-decoration: none; color: #333; }

.b-header_services_list a:hover,
.b-header_services_list li.current > a:hover { color: #c54080; }

.b-header_services_list ul { list-style: none; padding: 16px 0 6px 15px; font: 300 13px 'Roboto', sans-serif; }

.b-header_services_list li.hasChild > a { padding-right: 22px; }
.b-header_services_list li.hasChild > a span { position: relative; }

.b-header_services_list li.hasChild > a span:after { display: inline-block; position: absolute; bottom: -3px; margin-left: 8px; width: 20px; height: 20px; font: 400 20px/1 'Zuub'; text-align: center; color: #444; content: '\e831'; transform-origin: 50% 50%; transition: all 250ms; }
.b-header_services_list li.hasChild > a span:hover:after { color: #c54080; }

.b-header_services_list li.hasChild.opened > a span:after { transform: rotate(180deg); }

@media (max-width: 767px) {

    .b-header_services_list { padding-top: 16px; }

}


/* -------------------- Footer -------------------- */
.b-footer { position: relative; z-index: 1; min-width: 320px; font: 300 1.4em/1.185 'Roboto', sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.b-footer_container { padding: 30px 15px 25px; color: #fff; background: #3b4348; }

@media (min-width: 768px) {

    .b-footer_container { padding: 30px 25px 25px; }

}

@media (min-width: 1200px) {

    .b-footer { padding-left: 15px; padding-right: 15px; margin-left: 20.83333333%; }
    .b-footer_container { padding: 30px 40px 25px; }

}

/* * * Footer :: links * * */
.b-footer_links { margin-bottom: 10px; }

.b-footer_links a { margin-right: 15px; text-decoration: underline; color: inherit; }
.b-footer_links a:hover { opacity: .75; }

@media (min-width: 1200px) {

    .b-footer_links { margin-bottom: auto; }

}

/* * * Footer :: info * * */
.b-footer_info { font: 300 .92857142857143em/1.84615384615385 'Roboto', sans-serif; }

@media (min-width: 1200px) {

    .b-footer_info { font: 300 .85714285714286em/1.5 'Roboto', sans-serif; }

}

/* * * Footer :: info :: dev * * */
.b-footer_developer { float: right; margin-bottom: 3px; height: 30px; text-decoration: none; }

.b-footer_developer svg { display: block; width: 30px; height: 30px; }
.b-footer_developer svg path { fill: #fff; transition: all 250ms; }

.b-footer_developer:hover svg path#logo-frame { fill: #aaa; }
.b-footer_developer:hover svg path#logo-coma { fill: #f00; }

.b-footer_developer.i-icon { height: 28px; font-size: 28px; color: #d8d9da; }
.b-footer_developer.i-icon:before { display: block; height: 28px; }


/* -------------------- Top notice -------------------- */
.b-notice { position: relative; font: 300 1.4em/1.21428571428571 'Roboto', sans-serif; color: #fff; background: #dd8db3; visibility: visible; opacity: 1; transition: visibility 250ms, opacity 250ms; }
.b-notice.fade { visibility: hidden; opacity: 0; }

.b-notice .container { padding: 12px 15px 10px; min-height: 17px; }

@media (min-width: 768px) {

    .b-notice { text-align: center; }
    .b-notice .container { padding: 12px 25px 10px; }

}

@media (min-width: 1200px) {

    .b-notice { position: absolute; left: 0; top: 0; right: 0; /*margin-left: -10px; margin-right: -10px;*/ padding-left: 10px; padding-right: 10px; }

}

@media (max-width: 1199px) {

    .b-notice .container { padding-right: 40px; }

}

.b-notice .e-close { position: absolute; z-index: 5; right: 6px; top: 50%; margin-top: -13px; padding: 4px; width: 18px; height: 18px; text-align: center; color: #fff; cursor: pointer; pointer-events: auto; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; transition: all 250ms; }
.b-notice .e-close:before { display: block; width: 16px; height: 18px; font-size: 18px; line-height: 18px; }


/* -------------------- Page elements -------------------- */
/* * * Bread crumbs * * */
.b-path { clear: both; margin-bottom: 32px; font: 300 12px/1.5 'Roboto', sans-serif; color: #575757; cursor: default; }
.b-path li { display: inline; margin-right: 2px; }

.b-path li:after { vertical-align: 0; margin-left: 6px; content: '/'; }
.b-path li:last-child:after { content: none; }

.b-path a { text-decoration: none; color: inherit; }
.b-path a:hover { color: #c54080; }

@media (max-width: 767px) {

    .b-path { margin-bottom: 16px; }

}

/* * * Headers * * */
.b-heading { position: relative; margin: 32px 0 20px; color: #303030; }

.b-heading_title { font: 400 30px/1.185 'Roboto', sans-serif !important; text-transform: uppercase; }
.b-heading_subtitle { font: 400 24px/1.185 'Roboto', sans-serif !important; text-transform: uppercase; }

.b-heading_title_small { font: 400 18px/1.185 'Roboto', sans-serif !important; }

@media (min-width: 768px) {

    .b-heading_title { font: 400 36px/1.185 'Roboto', sans-serif !important; }
    .b-heading_subtitle { font: 400 30px/1.185 'Roboto', sans-serif !important; }

    .b-heading_title_small { font: 400 24px/1.185 'Roboto', sans-serif !important; text-transform: uppercase; }

}

.b-heading:first-child { margin-top: auto; }

/* * * Headers : more buttons * * */
.b-heading_more { position: relative; padding-left: 30px; font: 500 16px/1 'Roboto', sans-serif; text-decoration: none !important; color: #c54181; }
.b-heading_more:before { position: absolute; left: 0; top: 50%; margin-top: -10px; height: 20px; font-size: 20px; line-height: 20px; }

.b-heading_more span { border-bottom: 1px solid rgba(197, 65, 129, .65); transition: border-color 250ms; }

.b-heading_more:hover {  }
.b-heading_more:hover span { border-bottom-color: transparent; }

/* * * Pagination * * */
.b-pagination { position: relative; clear: both; margin: 14px 0; padding: 0 35px; font: 500 16px/26px 'Roboto', serif; text-align: center; color: #6a6a6a; cursor: default; }

@media (min-width: 768px) {

    .b-pagination { display: inline-block; padding: 0 52px; text-align: left; }

}

.b-pagination:first-child { margin-top: auto; }
.b-pagination:last-child { margin-bottom: auto; }

.b-pagination_list { padding-top: 10px !important; }

.b-pagination_list li { display: inline-block; vertical-align: top; position: relative; margin: 0 3px 10px; padding: 0; transition: all 250ms; }
.b-pagination_list li:before { content: none !important; }

.b-pagination_list a,
.b-pagination_list span { display: block; padding: 4px; min-width: 32px; height: 32px; text-decoration: none; text-align: center; color: #6a6a6a; background: transparent; border-radius: 4px; transition: all 250ms; cursor: pointer; box-sizing: border-box; }

.b-pagination_list a:hover { text-decoration: none; background: #e1e1e1; border-color: #e1e1e1; }
.b-pagination_list span { color: #fff; background: #c54080; border-color: #c54080; }

.b-pagination_arrow { display: block; position: absolute; z-index: 50; top: 50%; margin-top: -12px; padding: 3px 4px; width: 16px; height: 18px; text-decoration: none !important; text-align: center; color: #c54080; transition: all 250ms; cursor: pointer; }
.b-pagination_arrow:before { display: block; height: inherit; font-size: 18px; line-height: 1; text-decoration: none; text-align: center; }

.b-pagination_arrow:hover { opacity: .75; }

.b-pagination_prev { left: 0; }
.b-pagination_prev:before { text-indent: -2px; }

.b-pagination_next { right: 0; }
.b-pagination_next:before { text-indent: -3px; }

/* * * Main box footer * * */
.b-main_box_footer { position: relative; margin-top: 24px; margin-bottom: 24px; }

@media (min-width: 1200px) {

    .b-main_box_footer { margin-top: 36px; }
    .b-main_box_footer.b-main__hiatus { margin-bottom: -20px; padding-top: 30px; padding-bottom: 30px; }

}

/* * * Page anchors * * */
.b-main_anchors { position: relative; margin: 15px 0; font: 400 14px/1.185 'Roboto', sans-serif; color: #575757; border-bottom: 1px solid #e1e1e1; }
.b-main_anchors_inner { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; align-items: center; margin-right: -30px; }

.b-main_anchors a { display: inline-block; margin-right: 24px; margin-bottom: -1px; padding-bottom: 10px; text-decoration: none; color: inherit; border-bottom: 1px solid transparent; }

.b-main_anchors a:hover { color: #c54080; border-bottom-color: #c54080; }
.b-main_anchors a.active { color: #c54080; border-bottom-color: #c54080; }

@media (min-width: 1200px) {

    .b-main_anchors_inner { margin-right: -41px; }
    .b-main_anchors_inner a { margin-right: 41px; }

    .b-main_anchors_wrap { position: relative; margin: -15px -40px 15px; }

    .b-main_anchors_wrap_panel { position: relative; z-index: 5; margin: 0; padding: 15px 40px 0; background: #fff; box-sizing: border-box; }
    .b-main_anchors_wrap_panel .b-main_anchors { margin: 0; }

    .b-main_anchors_wrap_panel,
    .b-main_anchors_wrap_panel .b-main_anchors { transition: padding 250ms; }

    .b-main_anchors_wrap_panel__floated { position: fixed; z-index: 500; top: 0; }

    .b-main_anchors_wrap_panel__floated { padding-left: 0; padding-right: 0; }
    .b-main_anchors_wrap_panel__floated .b-main_anchors { padding-left: 40px; padding-right: 40px; }

}


/* -------------------- Blocks / elements -------------------- */
/* * * Rouble * * */
.e-rouble { font: 400 1em 'ALS Rouble'; }
.e-rouble:before { content: 'a'; }

/* * * Metro * * */
.e-metro:before { display: inline-block; vertical-align: 2px; margin-right: 10px; height: 11px; font-size: 11px; line-height: 1; color: #c54080; }

.e-metro__green:before { color: #2cb776; }
.e-metro__purple:before { color: #a143b2; }
.e-metro__orange:before { color: #f89753; }

.e-metro__red:before { color: #eb4343; }
.e-metro__blue:before { color: #2c60b7; }
.e-metro__light_blue:before { color: #13b9e3; }
.e-metro__brown:before { color: #864e37; }
.e-metro__yellow:before { color: #ffcc30; }
.e-metro__grey:before { color: #a3a3a3; }
.e-metro__lime:before { color: #b4d747; }
.e-metro__teal:before { color: #6dc8b8; }
.e-metro__blue_grey:before { color: #aebde4; }

/* * * Widget * * */
.b-widget,

.b-widget > *,
.b-widget iframe { width: 100% !important; }

/* * * Maps * * */
.b-map_canvas { position: relative; height: 320px; background: #e7e7e7; border-radius: 8px; overflow: hidden; -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
.b-map_canvas .b-map { position: relative; width: 100%; height: 100%; }

.b-map_marker { display: block; position: relative; left: -18px; top: -18px; width: 38px; height: 38px; }

/* * * Galleries * * */
.b-gallery_carousel { position: relative; }

@media (max-width: 767px) {

    .b-gallery_carousel .b-fig img { margin: 0 auto; width: 100%; }

}


/* -------------------- Carousels -------------------- */
/* * * Carousel * * */
.b-carousel { position: relative; width: auto; }
.b-carousel__padding { padding-left: 32px; padding-right: 32px; }

/* * * Carousel :: no js * * */
.b-carousel { display: -webkit-flex; display: -ms-flexbox; display: flex; position: relative; -webkit-flex-flow: row wrap; flex-flow: row wrap; letter-spacing: -6px; }
.b-carousel > .b-carousel_item { display: inline-block; vertical-align: top; letter-spacing: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* * * Carousel :: js * * */
.b-carousel.owl-carousel { letter-spacing: normal; }
.b-carousel.owl-carousel.owl-drag { cursor: move; }

.b-carousel.owl-carousel.flex { margin-left: auto; margin-right: auto; }
.b-carousel.owl-carousel .b-carousel_item[class*="col-"] { display: block; float: none; width: auto; padding-left: 0; padding-right: 0; }

.b-carousel.owl-carousel,
.b-carousel.owl-carousel.flex { margin: -10px; }

.b-carousel.owl-carousel .b-carousel_item,
.b-carousel.owl-carousel .b-carousel_item[class*="col-"] { padding: 10px; }

/* * * Carousel :: js * * */
.b-carousel.owl-carousel { letter-spacing: normal; }

.b-carousel.owl-carousel .owl-nav.disabled,
.b-carousel.owl-carousel .b-carousel_arrow.disabled,
.b-carousel.owl-carousel .b-carousel_paging.disabled { display: none; }

/* * * Carousel :: arrows * * */
.b-carousel_arrow { display: block; position: absolute; z-index: 10; top: 50%; margin-top: -12px; padding: 3px 4px; width: 16px; height: 18px; text-decoration: none !important; text-align: center; color: #c54080; transition: all 250ms; cursor: pointer; }
.b-carousel_arrow:before { display: block; height: inherit; font-size: 18px; line-height: 1; text-decoration: none; text-align: center; }

.b-carousel_arrow:hover { opacity: .75; }

.b-carousel_arrow__prev { left: 0; }
.b-carousel_arrow__prev:before { text-indent: -2px; }

.b-carousel_arrow__next { right: 0; }
.b-carousel_arrow__next:before { text-indent: -3px; }

/* * * Carousel :: paging * * */
.b-carousel_paging { position: relative; margin-top: -8px; margin-bottom: -8px; font: 500 16px/32px 'Roboto', sans-serif; white-space: nowrap; text-align: center; counter-reset: pagination; }
.b-carousel_paging_bullet { display: inline-block; vertical-align: middle; position: relative; margin: 8px 3px; transition: all 250ms; }

.b-carousel_paging_bullet span { display: block; min-width: 32px; height: 32px; color: #6a6a6a; background: transparent; border-radius: 4px; transition: all 250ms; cursor: pointer; }
.b-carousel_paging_bullet span:before { counter-increment: pagination; content: counter(pagination); }

.b-carousel_paging_bullet span:hover { color: #c54080; }
.b-carousel_paging_bullet.active span { color: #fff; background: #c54080; }

@media (max-width: 767px) {

    .b-carousel_paging { width: 190px; margin: 0 auto; overflow: hidden; }

    .b-carousel_paging_bullet { position: absolute; left: -10000px; visibility: hidden; transition: none !important; }
    .b-carousel_paging_bullet span { transition: none !important; }

    .b-carousel_paging_bullet:nth-last-child(5):not(.active),
    .b-carousel_paging_bullet:nth-last-child(4):not(.active),
    .b-carousel_paging_bullet:nth-last-child(3):not(.active),
    .b-carousel_paging_bullet:nth-last-child(2):not(.active),

    .b-carousel_paging_bullet.active,
    .b-carousel_paging_bullet.active + .b-carousel_paging_bullet,
    .b-carousel_paging_bullet.active + .b-carousel_paging_bullet + .b-carousel_paging_bullet,
    .b-carousel_paging_bullet.active + .b-carousel_paging_bullet + .b-carousel_paging_bullet + .b-carousel_paging_bullet,
    .b-carousel_paging_bullet.active + .b-carousel_paging_bullet + .b-carousel_paging_bullet + .b-carousel_paging_bullet + .b-carousel_paging_bullet { position: relative; left: auto; visibility: visible; }

}

/* * * Carousel :: scroll bar * * */
.b-carousel_scroll { padding: 4px 0; height: 1px; overflow: hidden; }
.b-carousel_scroll.disabled { display: none; }

.b-carousel_scroll_bar { position: relative; height: 2px; background: #ddd; }

.b-carousel_scroll_bar_handle { position: absolute; top: -4px; bottom: -4px; width: 2px; height: 2px; padding: 4px 0; cursor: pointer; }
.b-carousel_scroll_bar_handle:before { display: block; width: inherit; height: inherit; background: #000; content: ''; }

.b-carousel_scroll_bar_handle:hover:before { background: #000; }

/* * * Carousel :: controls group * * */
.b-carousel_controls { position: relative; margin-top: 20px; padding: 0 32px; text-align: center; }

@media (min-width: 768px) {

    .b-carousel_controls { display: table; padding: 0 52px; }

}

.b-carousel_controls.disabled { display: none !important; visibility: hidden !important; }


/* -------------------- Slider -------------------- */
.b-slider { position: relative; }
.b-slider_viewPort { height: 100% !important; }

.b-slider__padding { padding-left: 30px; padding-right: 30px; }

.b-slider_inner { position: relative; list-style: none; height: 100%; }
.b-slider_inner:after { display: table; clear: both; content: ''; }

.b-slider_inner > div { display: inline-block; position: relative; overflow: hidden; height: 100%; max-width: 100%; }
.b-slider_inner > div + div { display: none; }

.b-slider_inner img { display: block; max-width: 100%; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }

.b-slider__neighbors .b-slider_item { opacity: .15; transition: opacity 650ms; }
.b-slider__neighbors .b-slider_item__current { opacity: 1; }

/* * * Slider :: arrows * * */
.b-slider_arrow { position: absolute; z-index: 25; top: 50%; margin-top: -16px; width: 32px; height: 32px; font-size: 32px; line-height: 1; text-decoration: none !important; text-align: center; color: #fff !important; cursor: pointer; transition: all 250ms; }
.b-slider_arrow:hover { text-decoration: none; color: rgba(255, 255, 255, .6) !important; }

.b-slider_arrow__prev { left: 24px; }
.b-slider_arrow__next { right: 24px; }

/* * * Slider :: dots * * */
.b-slider_dots { position: absolute; z-index: 5; left: 0; right: 0; bottom: 13px; white-space: nowrap; text-align: center; }
.b-slider_dots_item { display: inline-block; vertical-align: middle; margin: 0 5px; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }

.b-slider_dots_item_bullet { display: block; overflow: hidden; width: 8px; height: 8px; text-indent: 100000px; text-decoration: none; background: #000; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; cursor: pointer; transition: all 250ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.b-slider_dots_item_bullet:hover { background: rgba(255, 255, 255, .6); }

.b-slider_dots_item_bullet.b-slider_active { background: #000; transform: scale(1.75); }

/* * * Slider :: thumbs * * */
.b-slider_thumbs { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; margin: 16px -5px -10px; letter-spacing: -6px; }
.b-slider_thumbs > .b-slider_thumbs_item { display: inline-block; vertical-align: middle; padding: 0 5px; width: 100%; margin-bottom: 10px; letter-spacing: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }

@media (min-width: 480px) {

    .b-slider_thumbs > .b-slider_thumbs_item { width: 50%; }

}

@media (min-width: 768px) {

    .b-slider_thumbs > .b-slider_thumbs_item { width: 33.333332%; }

}

@media (min-width: 1200px) {

    .b-slider_thumbs > .b-slider_thumbs_item { width: 20%; }

}

.b-slider_thumbs_item_bullet,
.b-slider_thumbs_item_bullet img { display: block; position: relative; width: 100%; max-width: 100%; transition: all 250ms; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }

.b-slider_thumbs_item_bullet { opacity: .7; }
.b-slider_thumbs_item_bullet.b-slider_active { opacity: 1; }

/* * * Slider :: thumbs :: carousel * * */
.b-slider_thumbs.js { display: block; margin: 30px 0 0; letter-spacing: normal; }


/* -------------------- UI modules -------------------- */
/* * * Tabs * * */
.js-init .js-tabs-wrapper { position: relative; border-top: 1px solid transparent; border-bottom: 1px solid transparent; transform: translateZ(0px); }

.js-init .js-tabs-page { position: absolute; left: 0; top: 0; right: 0; visibility: hidden; opacity: 0; border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
.js-init .js-tabs-page.visible { position: static; left: auto !important; top: auto !important; right: auto !important; visibility: visible; opacity: 1; }

.js-transition .js-tabs-page { transition: visibility 300ms ease, opacity 300ms ease; }

/* * * Accordions * * */
.js-accordion li ul { visibility: hidden; opacity: 0; transition: opacity 250ms, visibility 250ms; }
.js-accordion li.opened > ul { visibility: visible; opacity: 1; }

/* * * Pockets * * */
.js-pocket-toggle { display: none; font: 400 14px 'Roboto', sans-serif; color: #c54080; border-bottom: 1px dashed #c54080; cursor: pointer; transition: border 250ms, color 250ms; }
.js-pocket-toggle:hover { border-bottom-color: transparent; }

.js-pocket.active .js-pocket-box { position: relative; margin-bottom: 12px; }
.js-pocket.active .js-pocket-box-inner { /*margin-bottom: -12px;*/ }

.js-pocket.active .js-pocket-toggle { display: inline; }

.js-pocket.active.faded .js-pocket-box:before { position: absolute; z-index: 1; left: 0; right: 0; bottom: -2px; height: 40px; pointer-events: none; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); transition: all 250ms; content: ''; }
.js-pocket.active.faded-gray .js-pocket-box:before { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: linear-gradient(to bottom, rgba(247,247,247,0) 0%,rgba(247,247,247,1) 100%); }

.js-pocket.active.faded.opened .js-pocket-box:before { opacity: 0; visibility: hidden; }

/* * * View o map triggers * * */
.js-view-on-map { opacity: 0; visibility: hidden; transition: all 250ms; }
.js-view-on-map { opacity: 1; visibility: visible; }


/* -------------------- Press-center -------------------- */
.b-announces { margin-bottom: -32px !important; }
.b-announces > div { margin-bottom: auto !important; }

.b-announces .b-announce { margin-bottom: 32px !important; }

/* * * Announces * * */
.b-announce { position: relative; font: 300 14px/1.28571428571429 'Roboto', sans-serif; color: #575757; }
.b-announce ~ .b-announce { margin-top: 16px; }

.b-announce__gray { margin-left: -15px; margin-right: -15px; padding: 16px 15px; background: #f6f6f6; }

@media (min-width: 768px) {

    .b-announce ~ .b-announce { margin-top: 24px; }
    .b-announce__gray { margin-left: -25px; margin-right: -25px; padding: 24px 25px; }

}

@media (min-width: 1200px) {

    .b-announce ~ .b-announce { margin-top: 36px; }
    .b-announce__gray { margin-left: -40px; margin-right: -40px; padding: 36px 40px; }

}

.b-announce_title { margin-bottom: 8px; font: 500 18px/1.185 'Roboto', sans-serif !important; color: #000; }

.b-announce_title a { text-decoration: none; color: inherit; }
.b-announce_title a:hover { text-decoration: none; color: #c54080; }

.b-announce_footer { margin-top: 12px; font: 400 14px/1.185 'Roboto', sans-serif; }
.b-announce_footer a { text-decoration: none; color: #c54080; }

@media (min-width: 1200px) {

    .b-announce { font: 300 16px/1.5 'Roboto', sans-serif; }
    .b-announce_title { margin-bottom: 12px; font: 500 24px/1.05 'Roboto', sans-serif !important; }

    .b-announce_footer { margin-top: 10px; }
}

/* * * Announces :: pic * * */
.b-announce_pic { display: inline-block; position: relative; text-decoration: none !important; }
.b-announce_pic:hover { opacity: .85; }

.b-announce_pic img { display: block; position: relative; max-width: 100%; height: auto; border: 3px solid #fff; border-radius: 6px; box-shadow: 0 0 18px rgba(2, 2, 2, .1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media (max-width: 479px) {

    .b-announce_pic img { width: 100%; height: auto; }

}

.b-announce_pic ~ .b-announce_text { margin-top: 12px; }

@media (min-width: 768px) {

    .b-announce_pic { float: left; margin-right: 15px; width: 165px; }
    .b-announce_pic ~ .b-announce_text { margin-top: auto; margin-left: 180px; }

}

@media (min-width: 1200px) {

    .b-announce_pic { margin-right: 20px; width: 195px; }
    .b-announce_pic ~ .b-announce_text { margin-left: 215px; }

}

.b-announce_pic.i-icon:before { position: absolute; z-index: 5; left: 50%; top: 50%; margin: -25px 0 0 -25px; font-size: 50px; text-decoration: none !important; color: #fff; opacity: .7; transition: all 250ms; }
.b-announce_pic.i-icon:hover:before { opacity: .65; transform: scale(.75); }

/* * * Announces :: short * * */
.b-announce__short .b-announce_pic { display: block; float: none; width: auto; margin-right: auto; }
.b-announce__short .b-announce_pic ~ .b-announce_text { margin-top: 10px; margin-left: auto; }

.b-announce__short .b-announce_title { margin-bottom: auto; font: 500 17px/1.185 'Roboto', sans-serif !important; text-transform: none; }

@media (min-width: 768px) and (max-width: 1199px) {

    .b-announce__short .b-announce_title { font: 500 14px/1.185 'Roboto', sans-serif !important; }

}

/* -------------------- Comments -------------------- */
.b-comment { position: relative; margin-left: -15px; margin-right: -15px; padding: 20px 15px; font: 300 1em/1.5 'Roboto', sans-serif; color: #575757; background: #f7f7f7; }
.b-section__gray .b-comment { background: #fff; }

.b-comment ~ .b-comment,
.b-comment + * .b-comment { margin-top: 12px; }

.b-comment_header { margin-bottom: 12px; font: 400 14px/1.185 'Roboto', sans-serif; color: #000; }
.b-comment_header_author { margin-right: 6px; }

.b-comment_footer { margin-top: 24px; font: 300 14px/1.185 'Roboto', sans-serif; }

@media (min-width: 768px) {

    .b-comment { margin-left: 0; margin-right: 0; padding: 30px 35px; border-radius: 6px; }

    .b-comment ~ .b-comment,
    .b-comment + * .b-comment { margin-top: 17px; }

}

/* * * Comments :: answers * * */
@media (max-width: 767px) {

    .b-comment_answer { margin-top: 15px; margin-left: -15px; margin-right: -15px; padding: 15px 15px; background: #ffeff7; }
    .b-comment_answer ~ .b-comment_footer { margin-top: 0; margin-left: -15px; margin-right: -15px; margin-bottom: -20px; padding: 0 15px 20px; background: #ffeff7; }

    .b-comment_answer_header { margin-bottom: 16px; font: 400 14px/1.5 'Roboto', sans-serif; color: #000; }
    .b-comment_answer_header_title { margin-bottom: 10px; font: 400 12px/1.185 'Roboto', sans-serif; color: #c54181; }

}

@media (min-width: 768px) {

    .b-comment_answer { margin-top: 15px; }
    .b-comment_answer_balloon { position: relative; padding: 30px 36px; background: #ffeff7; border-radius: 0 6px 6px 6px; }

    .b-comment_answer_balloon:after,
    .b-comment_answer_balloon:before { position: absolute; top: 0; right: 100%; width: 22px; height: 22px; content: ''; }

    .b-comment_answer_balloon:after { background: #f7f7f7; border-radius: 0 22px 0 0; }
    .b-comment_answer_balloon:before { background: #ffeff7; }

    .b-section__gray .b-comment_answer_balloon:after { background: #fff; }

    .b-comment_answer_header { float: left; width: 125px; margin-right: 20px; font: 400 14px/1.5 'Roboto', sans-serif; text-align: center; color: #000; }
    .b-comment_answer_header ~ .b-comment_answer_balloon { margin-left: 145px; }

    .b-comment_answer_header_pic { position: relative; z-index: 1; margin-bottom: 8px; padding-bottom: 100%; height: 0; }

    .b-comment_answer_header_pic_inner { position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; box-shadow: 0 0 18px rgba(2, 2, 2, .1); border: 3px solid #fff; border-radius: 50%; box-sizing: border-box; }
    .b-comment_answer_header_pic_inner img { display: block; position: relative; width: 100%; height: auto; }

}

/* * * Comments :: form * * */
.b-comments_form { margin-top: 50px; }

.b-comments_form_box { position: relative; margin-top: 50px; padding: 20px; background: #fff; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1); border-radius: 10px; }
.b-comments_form_box_title { margin-bottom: .75em; font: 500 22px/1.15 'Roboto', sans-serif; color: #333; }

@media (min-width: 768px) {

    .b-comments_form_box { padding: 40px 30px; }
    .b-comments_form_box_title { margin-bottom: 1em; font: 500 24px/1.15 'Roboto', sans-serif; }

}

@media (min-width: 1200px) {

    .b-comments_form_box { padding: 55px 65px; }
    .b-comments_form_box_title { margin-bottom: 1em; font: 500 30px/1.15 'Roboto', sans-serif; }

}

/* -------------------- Search -------------------- */
.b-search { position: relative; margin-bottom: 20px; }
.b-search:last-child { margin-bottom: auto; }

.b-search_field { position: relative; }
.b-search_field input[type="text"] { display: block; position: relative; width: 100%; height: 40px; padding: 0 56px 0 16px; font: 300 14px/1 'Roboto', sans-serif; color: #666; background: #fff; border: 1px solid #c8c8c8; border-radius: 4px; transition: border-color 250ms; }

.b-search_field input[type="text"]:-moz-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }
.b-search_field input[type="text"]:-ms-input-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }
.b-search_field input[type="text"]::-webkit-input-placeholder { font-weight: 300; font-style: italic; color: #c7c7c7; text-overflow: ellipsis; transition: color 250ms; }

.b-search_field input[type="text"]:focus:-moz-placeholder { color: transparent; }
.b-search_field input[type="text"]:focus:-ms-input-placeholder { color: transparent; }
.b-search_field input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

.b-search_field label.b-form_box_field_placeholder { font: 300 14px/40px 'Roboto', sans-serif !important; font-style: italic !important; color: #c7c7c7 !important; }

.b-search_btn { position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; padding: 0; width: 40px; font-size: 18px; line-height: 38px; color: #c8c8c8; background: transparent; border-radius: 0 4px 4px 0; border-left: 1px solid #c7c7c7; }
.b-search_btn:hover { color: #c54080; }

.b-search_field input[type="text"]:focus { border-color: #c54080; }
.b-search_field input[type="text"]:focus ~ .b-search_btn { color: #c54080; border-left-color: #c54080; }

/* * * Search :: filter * * */
.b-search_filter { display: block; position: relative; margin-top: 10px; }

.b-search_filter .selectric { display: block; position: relative; width: 100%; height: 40px; padding: 0 56px 0 16px; font: 400 16px/1 'Roboto', sans-serif; color: #c54080; background: #fff; border: 1px solid #c8c8c8; border-radius: 4px; transition: border-color 250ms; }
.b-search_filter .selectric:before { position: absolute; right: 0; top: 0; width: 36px; font: 400 12px/38px 'Zuub', sans-serif; text-align: center; color: #c54080; content: '\e804'; }

.b-search_filter .selectric .label { display: block; overflow: hidden; width: 100%; line-height: 38px; white-space: nowrap; text-overflow: ellipsis; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.b-search_filter .selectric-open .selectric { border-color: #c54080; }

@media (min-width: 768px) {

    .b-search_filter { position: absolute; top: 0; right: 40px; margin-top: 0; }

    .b-search_filter .selectric { padding-right: 48px; background: none; border: none; }
    .b-search_filter .selectric:before { width: 42px; height: 40px; line-height: 40px; }

    .b-search_filter .selectric .label { line-height: 40px; }

}

/* * * Search :: result * * */
.b-search_result ~ .b-search_result{ position: relative; margin-top: 16px; }
.b-search + .b-search_result { margin-top: 32px; }

.b-search_result p { margin: 0; }
.b-search_result p ~ p { margin-top: 8px; }

.b-search_result strong { font-weight: 400; }

.b-search_result a { text-decoration: underline; color: #c54080; }
.b-search_result a:hover { text-decoration: none; }


/* -------------------- Promo -------------------- */
.b-promo { position: relative; font: 300 14px/1.5 'Roboto', sans-serif; color: #575757; }
.b-promo p ~ p { margin-top: 8px; }

@media (min-width: 768px) {

    .b-promo { font: 300 16px/1.5 'Roboto', sans-serif; }

}

.b-promo_picture { display: block; max-width: 100%; height: auto; border-radius: 6px; }

@media (max-width: 767px) {

    .b-promo_picture { margin-bottom: 16px; }

}

.b-promo_header { margin-bottom: 16px; color: #000; }
.b-promo_header_title { font: 400 30px/1.185 'Roboto', sans-serif; text-transform: uppercase; }

@media (min-width: 768px) {

    .b-promo_header { margin-bottom: 6px; }
    .b-promo_header_title { font: 400 36px/1.185 'Roboto', sans-serif; }

}

.b-promo_label { margin-bottom: 16px; font: 400 18px/1.35 'Roboto', sans-serif; color: #c54080; }

@media (min-width: 768px) {

    .b-promo_label { font: 400 30px/1 'Roboto', sans-serif; }

}

.b-promo_form { margin-top: 24px; }
.b-promo_form .e-btn { padding-top: 14px; padding-bottom: 13px; }





/* -------------------- Pay -------------------- */

.b-mp_ras{
 
    padding: 25px 15px 15px;
    background: #fff;
    box-shadow: 0 0 18px 0 rgba(2, 2, 2, .1);
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom:35px;
}

.h3-uppercase{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.b-mp_ras_text p{
    margin-bottom: 15px
}

.b-mp_ras_phone-box {
    margin-top: 20px;
}
.in_v_middle{
    vertical-align: middle;
}


.b-mp_ras_img img{
    max-width: 100%;
    margin: auto;
    display: block;
}


@media (max-width: 767px) {

    .b-mp_ras_send-button a{
        margin-top: 15px;
    }

    .b-mp_pay-system .b-price_payment_logotypes{
        text-align: right;
    }

    .b-mp_pay-system .b-price_payment_logotypes{
        text-align: right;
    }
}


@media (max-width: 479px) {

    .b-mp_ras_text{
        text-align: center;
    }

    .b-mp_pay-system_text{
        margin-bottom: 20px;
    }

    .b-mp_ras{
        padding-bottom: 30px;
    }

    .b-mp_pay-system  .b-price_payment_logotypes{
        text-align: left;
    }

}

/* -------------------- Pay :: end-------------------- */


/* -------------------- FAQ -------------------- */
.b-comment.b-faq_preview{
    padding: 25px 35px 20px;
}
.b-faq_preview_button{
    margin-top: 15px;
}

.b-faq_preview a {
    text-decoration: underline;
    color: #c54080;
}

/* -------------------- FAQ :: end-------------------- */
