/* -------------------- Works -------------------- */
.b-work,
.b-work_container { position: relative; letter-spacing: normal; }
.b-work_container { margin-bottom: -10px; }

.b-work_info { margin-top: 20px; margin-bottom: 10px; padding: 0 15px; box-sizing: border-box; }
.b-work_info .js-tabs-wrapper { height: auto !important; overflow: visible !important; }

.b-work_info .js-tabs-page { display: none; position: static !important; visibility: visible !important; opacity: 1 !important; }
.b-work_info .js-tabs-page.visible { display: block; }

.b-work_info_tabs { position: relative; margin-bottom: 13px; white-space: nowrap; }

@media (max-width: 767px) {

    .b-work_info_tabs a { font: 400 13px/1 'Roboto', sans-serif; }

}

.b-work_info p { margin: 12px 0; }

.b-work_info p:first-child { margin-top: auto; }
.b-work_info p:last-child { margin-bottom: auto; }

.b-work_info strong { font-weight: 400; color: #000; }

/* * * Works :: gallery * * */
.b-work_gallery { position: relative; margin-bottom: 10px; padding: 0 15px; box-sizing: border-box; }

@media (min-width: 768px) {

    .b-work_gallery { float: left; padding: 0 30px 0 15px; width: calc(50% + 15px); }
    .b-work_gallery ~ .b-work_info { margin-top: auto; }

}

.b-work_gallery_area { position: relative; overflow: hidden; height: 0; padding-bottom: 56.896551724138%; background: #fff; border: 3px solid #fff; border-radius: 6px; box-shadow: 0 0 18px rgba(2, 2, 2, .1); box-sizing: border-box; }
.b-work_gallery_area_wrapper { height: auto !important; }

.b-work_gallery_area_pic { position: absolute; left: 0; top: 0; right: 0; bottom: 0; border-radius: 3px; overflow: hidden; }
.b-work_gallery_area_pic img { position: absolute; left: 50%; top: 50%; min-height: 100%; min-width: 100%; width: 100%; height: auto; max-width: none; max-height: none; transform: translate(-50%, -50%); backface-visibility: hidden; }

.b-work_gallery_area_pic__album img { width: auto; height: 100%; }
.b-work_gallery_area_pic__portrait img { width: 100%; height: auto; }

.b-work_gallery_area_pic { z-index: 1; opacity: 0; visibility: hidden; transition: opacity 250ms, visibility 250ms; }
.b-work_gallery_area_pic.visible { opacity: 1; visibility: visible; }

.b-work_gallery_area_switch { position: absolute; z-index: 5; left: 0; right: 0; bottom: 6px; text-align: center; }

.b-work_gallery_area_switch_list { display: inline-block; background: rgba(255, 255, 255, .4); border-radius: 4px; }
.b-work_gallery_area_switch_list a ~ a { margin-left: -4px; }

.b-work_gallery_area_switch_list a { display: inline-block; position: relative; z-index: 1; padding: 6px 12px 5px; font: 400 12px/1 'Roboto', sans-serif; text-transform: uppercase; color: #000; border-radius: 4px; }
.b-work_gallery_area_switch_list a.current { z-index: 2; background: rgba(255, 255, 255, 1); }

/* * * Works :: gallery :: in carousel * * */
.b-carousel .owl-item .b-work_gallery_area { box-shadow: 0 0 18px rgba(2, 2, 2, 0); transition: box-shadow 250ms; }
.b-carousel .owl-item.active .b-work_gallery_area { box-shadow: 0 0 18px rgba(2, 2, 2, .1); }


/* -------------------- Prices -------------------- */
.b-price { position: relative; }
.b-price ~ .b-price { margin-top: 20px; }

@media (max-width: 767px) {

    .b-price { margin-left: -15px; margin-right: -15px; }

}

/* * * Prices :: Heading * * */
.b-price_heading { position: relative; transition: background 250ms, border 250ms; }
.b-price_heading_title { font: 500 18px/1.185 'Roboto', sans-serif !important; text-transform: none !important; color: #000; }

.b-price_heading_cost { font: 400 18px/1.185 'Roboto', sans-serif; transition: all 250ms; }
.b-price_heading_cost * ~ * { margin-left: 12px; }

.b-price_heading_cost_strike { color: #727272; }
.b-price_heading_cost_actual { font-weight: 700; font-size: 1.333332em; color: #c54080; }

.b-price_heading_toggle:hover { opacity: .75; }
.b-price_heading.js-spoiler-toggle { cursor: pointer; }

@media (max-width: 767px) {

    .b-price_heading { background: #fff; }
    .b-price_heading_title { position: relative; padding: 16px 54px 17px 15px; min-height: 21px; background: #ffeff7; }

    .b-price_heading_cost { max-height: 54px; }
    .b-price_heading_cost_wrap { padding: 12px 15px; border-bottom: 1px solid #e1e1e1; }

    .b-price_heading_toggle,
    .b-price_heading.js-spoiler-toggle .b-price_heading_title:before { position: absolute; z-index: 5; top: 50%; right: 0; margin-top: -27px; padding: 19px; width: 16px; height: 16px; font: normal 12px/16px 'Zuub'; text-align: center; color: #585858; background: transparent; border: none; content: '\e804'; box-sizing: content-box; transform-origin: 50% 50%; transition: all 250ms; }

    .b-price.opened .b-price_heading_cost { max-height: 0; opacity: 0; visibility: hidden; overflow: hidden; }

    .b-price.opened .b-price_heading_toggle,
    .b-price.opened .b-price_heading.js-spoiler-toggle:before { transform: rotate(-180deg); }

}

@media (min-width: 768px) {

    .b-price_heading { position: relative; padding: 22px 60px 22px 32px; background: #ffeff7; border-radius: 8px 8px 0 0; }
    .b-price_heading_title { font: 500 24px/1.185 'Roboto', sans-serif !important; }

    .b-price_heading_toggle,
    .b-price_heading.js-spoiler-toggle .b-price_heading_title:before { position: absolute; top: 50%; right: 16px; margin-top: -21px; padding: 14px; width: 16px; height: 16px; font: normal 16px/16px 'Zuub'; text-align: center; color: #585858; background: transparent; border: none; content: '\e804'; box-sizing: content-box; transform-origin: 50% 50%; transition: all 250ms; }

    .b-price.js-spoiler .b-price_heading { border-radius: 8px; }
    .b-price.js-spoiler.opened .b-price_heading { border-radius: 8px 8px 0 0; }

    .b-price.opened .b-price_heading_cost { opacity: 0; visibility: hidden; }

    .b-price.opened .b-price_heading_toggle,
    .b-price.opened .b-price_heading.js-spoiler-toggle:before { transform: rotate(-180deg); }

}

@media (min-width: 1200px) {

    .b-price_heading { padding: 22px 75px 22px 32px; }

}

/* * * Prices :: Main details * * */
.b-price.js-spoiler .b-price_details { opacity: 0; visibility: hidden; transition: opacity 250ms, visibility 250ms; }
.b-price.js-spoiler.opened .b-price_details { opacity: 1; visibility: visible; }

.b-price_details_main { padding: 15px; font: 400 1em/1.185 'Roboto', sans-serif; color: #575757; background: #fff; }

@media (max-width: 767px) {

    .b-price_details_main_text [class*="col-"] ~ [class*="col-"] { margin-top: 4px; }

}

@media (min-width: 768px) {

    .b-price_details_main { padding: 30px 30px 20px; border: 4px solid #ffeff7; border-top: none; border-radius: 0 0 6px 6px; }

}

.b-price_details_main ul.b-price_details_main_list { list-style: none; clear: both; margin: 0; color: inherit; }
.b-price_details_main ul.b-price_details_main_list li ~ li { margin-top: 4px; }

.b-price_details_main ul.b-price_details_main_list li { position: relative; padding-left: 15px; }
.b-price_details_main ul.b-price_details_main_list li:before { position: absolute; left: 0; top: 0; width: auto; height: auto; background: none; color: inherit; content: '-'; }

.b-price_details_main_cost { margin-top: 16px; font: 400 18px/1.185 'Roboto', sans-serif; color: #c54080; }

.b-price_details_main_cost_strike { margin-left: 6px; color: #727272; }
.b-price_details_main_cost_actual { font-weight: 700; font-size: 1.333332em; color: #c54080; }

@media (min-width: 768px) {

    .b-price_details_main_cost { margin-top: auto; }
    .b-price_details_main_cost_strike { display: block; margin-top: 6px; margin-left: 0; }

}

.b-price_details_main_footer { margin-top: 20px; font: 300 12px/1.25 'Roboto', sans-serif; }

.b-price_details_main_footer p { position: relative; margin: 0; padding-left: 10px; }
.b-price_details_main_footer p ~ p { margin-top: 6px; }

.b-price_details_main_footer p:before { position: absolute; left: 0; content: '*'; }

@media (max-width: 767px) {

    .b-price_details_main_footer_grid > [class*="col-"] ~ [class*="col-"] { margin-top: 16px; }

}

@media (min-width: 768px) {

    .b-price_details_main_footer { margin-top: 32px; }

}

@media (min-width: 1200px) {

    .b-price_details_main_footer { font: 300 14px/1.25 'Roboto', sans-serif; }

}

/* * * Prices :: Additional details * * */
.b-price_details .b-table,
.b-price_details .b-table_overflow { margin: 0 !important; }

.b-price_details * ~ .b-table,
.b-price_details * ~ .b-table_overflow { margin-top: 20px !important; }

/* * * Prices :: Payment info * * */
.b-price_payment { margin-top: 20px; padding: 0 15px; font: 300 16px/1.185 'Roboto', sans-serif; color: #010101; }

@media (max-width: 767px) {

    .b-price_payment .row-table-md > div ~ div { margin-top: 16px; }

}

@media (min-width: 768px) {

    .b-price_payment { margin-top: 20px; padding: 20px 32px; background: #f7f7f7; border-radius: 6px; }
    .b-section__gray .b-price_payment { background: #fff; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-price_payment { font: 300 14px/1.185 'Roboto', sans-serif; }

}

.b-price_payment p { margin: 0; }

.b-price_payment a { text-decoration: underline; color: #c54080; }
.b-price_payment a:hover { text-decoration: none; }

.b-price_payment_logotypes { white-space: nowrap; }
.b-price_payment_logotypes img { display: inline-block; vertical-align: middle; }
.b-price_payment_logotypes img ~ img { margin-left: 10px; }

.b-price_payment_credit { font: 300 14px/1.15 'Roboto', sans-serif; }

@media (min-width: 1200px) {

    .b-price_payment_label { white-space: nowrap; }

}


/* -------------------- Dentists -------------------- */
.b-dentist { margin-left: -15px; margin-right: -15px; padding: 12px 15px 28px; font: 400 14px/1.185 'Roboto', sans-serif; color: #000; }
.b-dentist__gray { background: #f7f7f7; }

@media (min-width: 768px) {

    .b-dentist { margin-left: -25px; margin-right: -25px; padding: 20px 25px; }

}

@media (min-width: 1200px) {

    .b-dentist { margin-left: -40px; margin-right: -40px; padding: 30px 40px; }
    .b-dentist ~ .b-main_box_footer { margin-top: 14px; }

}

/* * * Dentists :: pic * * */
.b-dentist_pic { position: relative; z-index: 1; overflow: hidden; background: #fff; border: 3px solid #fff; border-radius: 6px; box-shadow: 0 0 18px rgba(2, 2, 2, .1); }
.b-dentist_pic_capsule { display: block; height: 0; padding-bottom: 100%; }

.b-dentist_pic img { display: block; position: absolute; width: 100%; height: auto; transition: opacity 250ms; backface-visibility: hidden; }
.b-dentist_pic:hover img { opacity: .85; }

.b-dentist_pic__album img { width: auto; height: 100%; }
.b-dentist_pic__portrait img { width: 100%; height: auto; }

@media (max-width: 767px) {

    .b-dentist_pic { margin-bottom: 24px; }
    .b-dentist__gray .b-dentist_pic { margin-top: -24px; }

}

/* * * Dentists :: text * * */
.b-dentist_header { margin-bottom: 12px; color: #000; }
.b-dentist_header_name { font: 500 18px/1.185 'Roboto', sans-serif; }

.b-dentist_header_name a { text-decoration: none; color: inherit; }
.b-dentist_header_name a:hover { color: #c54080; }

@media (min-width: 768px) {

    .b-dentist_header_name { font: 500 24px/1.185 'Roboto', sans-serif; }

}

.b-dentist_info { list-style: none; margin-bottom: 12px; }
.b-dentist_info li { margin-top: 4px; }

.b-dentist_info span { color: #575757; }

.b-dentist_info_reviews { margin-top: 8px; color: #c54080; }

.b-dentist_info_reviews a { text-decoration: underline; color: #c54080; }
.b-dentist_info_reviews a:hover { text-decoration: none; }

.b-dentist_clinic { margin-top: 12px; }
.b-dentist_clinic:before { display: inline-block; margin-right: 8px; font-size: 21px; color: #c54080; }

.b-dentist_clinic_more { margin-top: 16px; }

.b-dentist_clinic_more a { font: 400 16px/1 'Roboto', sans-serif; text-decoration: underline; color: #c54080; }
.b-dentist_clinic_more a:hover { text-decoration: none; }

.b-dentist_reviews { display: table; margin: 24px auto 0; width: 105px; height: 105px; border-spacing: 0; }

.b-dentist_reviews_capsule { display: table-cell; vertical-align: middle; font: 400 12px/1 'Roboto', sans-serif; text-decoration: none; text-align: center; color: #979797; background: #f7f7f7; border-radius: 50%; }
.b-dentist_reviews_capsule:hover { color: #c54080; }

.b-dentist_reviews_capsule i { display: block; margin: -2px 0 6px; font-size: 21px; }
.b-dentist_reviews_capsule span { text-decoration: underline; }

.b-dentist__gray .b-dentist_reviews_capsule { background: #fff; }

@media (max-width: 767px) {

    .b-dentist_appointment { margin-top: 16px; }

}


/* -------------------- Dentists :: short card -------------------- */
.b-dentist-short { font: 300 13px/1.185 'Roboto', sans-serif; text-align: center; color: #575757; }
.b-dentist-short_header { font: 400 14px/1.285714286 'Roboto', sans-serif; color: #000; }

.b-dentist-short_header a { text-decoration: none; color: inherit; }
.b-dentist-short_header a:hover { color: #c54080; }

.b-dentist-short p { margin: 2px 0; }

@media (min-width: 768px) {

    .b-dentist-short { font: 300 14px/1.35 'Roboto', sans-serif; }
    .b-dentist-short_header { font: 400 18px/1.25 'Roboto', sans-serif; color: #000; }

    .b-dentist-short p { margin: 5px 0; }

}

.b-dentist-short_pic { position: relative; z-index: 1; overflow: hidden; margin-bottom: 16px; background: #fff; border: 3px solid #fff; border-radius: 6px; box-shadow: 0 0 18px rgba(2, 2, 2, .1); }
.b-dentist-short_pic_capsule { display: block; height: 0; padding-bottom: 100%; }

@media (min-width: 768px) {

    .b-dentist-short_pic { margin: 0 auto 16px; max-width: 110px; }

}

@media (min-width: 1200px) {

    .b-dentist-short_pic { margin: 0 auto 16px; max-width: 125px; }

}

.b-dentist-short_pic img { display: block; position: absolute; width: 100%; height: auto; transition: opacity 250ms; backface-visibility: hidden; }
.b-dentist-short_pic:hover img { opacity: .85; }

.b-dentist-short_pic__album img { width: auto; height: 100%; }
.b-dentist-short_pic__portrait img { width: 100%; height: auto; }


/* -------------------- Dentists page -------------------- */
/* * * Dentists :: profile * * */
.b-dentist_profile { position: relative; font: 400 14px/1.185 'Roboto', sans-serif; color: #000; }

.b-dentist_profile_pic { position: relative; z-index: 1; overflow: hidden; background: #fff; border: 3px solid #fff; border-radius: 6px; box-shadow: 0 0 18px rgba(2, 2, 2, .1); }
.b-dentist_profile_pic_capsule { display: block; height: 0; padding-bottom: 100%; }

.b-dentist_profile_pic img { display: block; position: absolute; width: 100%; height: auto; transition: opacity 250ms; backface-visibility: hidden; }
.b-dentist_profile_pic:hover img { opacity: .85; }

.b-dentist_profile_pic__album img { width: auto; height: 100%; }
.b-dentist_profile_pic__portrait img { width: 100%; height: auto; }

@media (max-width: 767px) {

    .b-dentist_profile_pic { margin-bottom: 24px; }

}

.b-dentist_profile_header { margin-bottom: 16px; color: #000; }
.b-dentist_profile_header_name { font: 500 18px/1.185 'Roboto', sans-serif; }

@media (min-width: 768px) {

    .b-dentist_profile_header { margin-bottom: 12px; padding-right: 190px; }
    .b-dentist_profile_header_name { font: 500 24px/1.185 'Roboto', sans-serif; }

}

@media (min-width: 1200px) {

    .b-dentist_profile_header_name { font: 500 30px/1.185 'Roboto', sans-serif; }

}

.b-dentist_profile_list { list-style: none; margin-bottom: 12px; }
.b-dentist_profile_list li { margin-top: 8px; }

.b-dentist_profile_list span { color: #575757; }

@media (min-width: 768px) {

    .b-dentist_profile_list { padding-right: 190px; }

}

.b-dentist_profile_clinic { margin-top: 8px; }
.b-dentist_profile_clinic:before { display: inline-block; margin-right: 8px; font-size: 21px; color: #c54080; }

@media (min-width: 768px) {

    .b-dentist_profile_clinic { margin-top: 24px; }

}

.b-dentist_profile_text { margin-top: 32px; font: 300 14px/1.185 'Roboto', sans-serif; color: #575757; }
.b-dentist_profile_text p { margin: 4px 0; }

.b-dentist_profile_footer { margin-top: 16px; }
.b-dentist_profile_footer [class*="col-"] ~ [class*="col-"] { margin-top: 10px; }

@media (min-width: 768px) {

    .b-dentist_profile_footer { position: absolute; top: 0; right: 0; margin-top: auto; width: 175px; }

}

/* * * Dentists :: qualification * * */
.b-dentist_qualification { color: #4e4e4e; }

.b-dentist_qualification.b-wysiwyg h4 { margin-bottom: 24px; }

.b-dentist_qualification.b-wysiwyg li { margin: 0; }
.b-dentist_qualification.b-wysiwyg li ~ li { margin-top: 16px; }

.b-dentist_qualification.b-wysiwyg li:before { width: 6px; height: 6px; }

/* * * Dentists :: works * * */
.b-dentist_works_footer { margin-top: 24px; }
.b-dentist_works_footer .b-carousel_controls { margin-top: 3px; }

@media (max-width: 767px) {

    .b-dentist_works_footer { margin-top: 16px; }
    .b-dentist_works_footer .b-carousel_controls { margin-bottom: 24px; }

}


/* -------------------- Clinic -------------------- */
/* * * Clinic :: General * * */
.b-clinic_general_info { position: relative; font: 400 13px/1.5 'Roboto', sans-serif; color: #575757; }
.b-clinic_general_info p { margin: 5px 0; }

@media (min-width: 768px) {

    .b-clinic_general_info_location { font: 400 14px/1.5 'Roboto', sans-serif; }

}

.b-clinic_general_info_location { font: 500 16px/1.185 'Roboto', sans-serif; color: #000; }
.b-clinic_general_info_location:before { display: inline-block; vertical-align: 2px; margin-right: 8px; font-size: 21px; color: #c54080; }

@media (min-width: 768px) {

    .b-clinic_general_info_location { font: 400 18px/1.185 'Roboto', sans-serif; }

}

.b-clinic_general_info_metro { list-style: none; margin-top: 12px; }
.b-clinic_general_info_metro li ~ li { margin-top: 4px; }

@media (min-width: 768px) {

    .b-clinic_general_info_metro { margin-top: 24px; }

}

@media (max-width: 479px) {

    .b-clinic_general_info [class*="col-"] ~ [class*="col-"] { margin-top: 20px; }
    .b-clinic_general_info [class*="col-"]:last-child { margin-top: auto; }

}

@media (max-width: 767px) {

    .b-clinic_general_info_appointment { margin-top: 22px; }

}

.b-clinic_general_map { margin: 24px 0; }
.b-clinic_general_map_canvas { position: relative; height: 280px; }

@media (min-width: 768px) {

    .b-clinic_general_map { margin: 40px 0 30px; }

}

.b-clinic_general_text strong { font-weight: 400; color: #000; }

/* * * Clinic :: Dentists * * */
.b-clinic_dentists { position: relative; padding-bottom: 0; }


/* -------------------- Benefits -------------------- */
.b-benefits_list { margin-top: 32px; margin-bottom: -32px; }
.b-benefits_list > [class*="col-"] { position: relative; }

.b-benefits_item { position: relative; margin-bottom: 32px; font: 400 1em/1.185 'Roboto', sans-serif; color: #575757; border-radius: 6px; transition: background 250ms, box-shadow 250ms; }
.b-benefits_item_short { position: relative; z-index: 1; }

.b-benefits_item_short_icon { display: block; width: 72px; font-size: 50px; line-height: 1; color: #c54080; }
.b-benefits_item_short_icon:before { display: block; width: 72px; }

@media (max-width: 767px) {

    .b-benefits_item_short { display: table; width: 100%; }
    .b-benefits_item_short > * { display: table-cell; vertical-align: middle; }

    .b-benefits_item_short_icon { width: 100px; }

}

@media (min-width: 768px) {

    .b-benefits_list { margin-bottom: -24px; }
    .b-benefits_item { margin-bottom: 24px; }

    .b-benefits_item_short { text-align: center; }
    .b-benefits_item_short_icon { margin: 0 auto 16px; }

}

@media (min-width: 1200px) {

    .b-benefits_list { margin-top: 42px; margin-bottom: -24px; }
    .b-benefits_item { margin-bottom: 42px; }

}

.b-benefits_item_details { overflow: hidden; max-height: 0; font: 300 14px/1.185 'Roboto', sans-serif; color: #575757; text-align: center; opacity: 0; visibility: hidden; transition: max-height 250ms, padding 250ms, opacity 250ms, visibility 250ms; }
.b-benefits_item_details > div { padding: 15px 0; }

.b-benefits_item_details p ~ p { margin-top: 12px; }

.b-benefits_item.hasChild { margin-top: -30px; margin-left: -10px; margin-right: -10px; padding: 30px 10px 0; }

.b-benefits_item.hasChild .b-benefits_item_short { transition: color 250ms; cursor: pointer; }
.b-benefits_item.hasChild .b-benefits_item_short:hover { color: #c54080; }

.b-benefits_item.hasChild.opened { position: absolute; z-index: 50; left: 0; right: 0; margin-top: -30px; margin-left: 0; margin-right: 0; padding: 30px 10px 0; background: #fff; box-shadow: 0 0 18px rgba(2, 2, 2, 0.1); }
.b-benefits_item.hasChild.opened .b-benefits_item_details { opacity: 1; visibility: visible; }

.b-benefits_item_details,
.b-benefits_item_details * { backface-visibility: hidden; }

@media (max-width: 767px) {

    .b-benefits_item.hasChild { margin-top: -15px; padding: 15px 15px 0; }
    .b-benefits_item.hasChild.opened { margin-top: -15px; padding: 15px 15px 0; }

}

@media (min-width: 1200px) {

    .b-benefits_item.hasChild { margin-left: -15px; margin-right: -15px; padding: 30px 15px 0; }
    .b-benefits_item.hasChild.opened { margin-left: 0; margin-right: 0; padding: 30px 15px 0; }

}


/* -------------------- Service -------------------- */
/* * * Service :: intro * * */
.b-service_intro_pic { margin-bottom: 24px; }
.b-service_intro_text { margin-bottom: -24px; }

.b-service_intro_text.b-wysiwyg p:last-child { margin-bottom: 24px; }
.b-service_intro_text.b-wysiwyg .b-wysiwyg_intro { margin-top: auto !important; }

/* * * Service :: related * * */
.b-service_related_list { list-style: none; }
.b-service_related_group { margin-bottom: -16px; }

.b-service_related_list a { display: inline-block; position: relative; margin: 0 0 16px 52px; padding: 6px 0; font: 400 16px/1.185 'Roboto', sans-serif; text-decoration: none; color: #575757; }
.b-service_related_list a:before { position: absolute; left: -52px; top: -4px; font-size: 34px; line-height: 1; color: #c54080; }

.b-service_related_list a:hover { color: #c54080; }

/* * * Service :: works * * */
.b-service_works_carousel_footer { margin-top: 30px; margin-bottom: -10px; }
.b-service_works_carousel_footer .b-carousel_controls { margin-top: 3px; }

/*.b-service_works_carousel { margin: -10px; }
.b-service_works_carousel .b-work { padding: 10px; }*/

@media (max-width: 767px) {

    .b-service_works_carousel_footer [class*="col-"] ~ [class*="col-"] { margin-top: 16px; }

}

/* * * Service :: prices * * */
.b-service_prices .b-table,
.b-service_prices .b-table_overflow { margin-top: 20px; margin-bottom: 20px; }

.b-service_prices .b-table:first-child,
.b-service_prices .b-table_overflow:first-child { margin-top: auto; }

.b-service_prices .b-table:last-child,
.b-service_prices .b-table_overflow:last-child { margin-bottom: auto; }

@media (max-width: 767px) {

    .b-service_prices .b-table { border-bottom: none; }

    .b-service_prices .b-table ~ *,
    .b-service_prices .b-table_overflow ~ * { margin-top: -16px; }

}

.b-service_prices_details { margin: 24px -15px; padding: 0 15px; font: 400 1em/1.185 'Roboto', sans-serif; color: #575757; }

.b-service_prices_details_header { margin: 0 -15px 16px; padding: 16px 15px; color: #000; background: #ffeff7; }
.b-service_prices_details_header_title { font: 500 18px/1 'Roboto', sans-serif; }

@media (min-width: 768px) {

    .b-service_prices_details { margin: 24px 0; padding: 0 30px 20px; border: 4px solid #ffeff7; border-radius: 6px; }

    .b-service_prices_details_header { margin: 0 -30px 24px; padding: 18px 30px 22px; color: #000; background: #ffeff7; }
    .b-service_prices_details_header_title { font: 500 24px/1 'Roboto', sans-serif; }

}

.b-service_prices_details:first-child { margin-top: auto; }
.b-service_prices_details:last-child { margin-bottom: auto; }

@media (max-width: 767px) {

    .b-service_prices_details_text [class*="col-"] ~ [class*="col-"] { margin-top: 4px; }

}

.b-service_prices_details ul.b-service_prices_details_list { list-style: none; clear: both; margin: 0; color: inherit; }
.b-service_prices_details ul.b-service_prices_details_list li ~ li { margin-top: 4px; }

.b-service_prices_details ul.b-service_prices_details_list li { position: relative; padding-left: 15px; }
.b-service_prices_details ul.b-service_prices_details_list li:before { position: absolute; left: 0; top: 0; width: auto; height: auto; background: none; color: inherit; content: '-'; }

.b-service_prices_details_prices { margin-top: 16px; font: 700 24px/1.185 'Roboto', sans-serif; color: #c54080; }

@media (min-width: 768px) {

    .b-service_prices_details_prices { margin-top: auto; }
    .b-service_prices_details_prices span { display: block; }

}

.b-service_prices_details_footer { margin-top: 20px; font: 300 12px/1.25 'Roboto', sans-serif; }

.b-service_prices_details_footer p { position: relative; margin: 0; padding-left: 10px; }
.b-service_prices_details_footer p ~ p { margin-top: 6px; }

.b-service_prices_details_footer p:before { position: absolute; left: 0; content: '*'; }

@media (max-width: 767px) {

    .b-service_prices_details_footer .row-table-md > div ~ div { margin-top: 16px; }

}
@media (min-width: 768px) {

    .b-service_prices_details_footer { margin-top: 32px; }

}
@media (min-width: 1200px) {

    .b-service_prices_details_footer { font: 300 14px/1.25 'Roboto', sans-serif; }

}

.b-service_prices_payment { margin: 24px -15px; padding: 20px 15px; font: 300 16px/1.185 'Roboto', sans-serif; color: #010101; background: #f7f7f7; }

@media (max-width: 767px) {

    .b-service_prices_payment .row-table-md > div ~ div { margin-top: 16px; }

}
@media (min-width: 768px) {

    .b-service_prices_payment { margin: 24px 0; padding: 20px 34px; border-radius: 6px; }

}
@media (min-width: 768px) and (max-width: 1199px) {

    .b-service_prices_payment { font: 300 14px/1.185 'Roboto', sans-serif; }

}

.b-service_prices_payment:first-child { margin-top: auto; }
.b-service_prices_payment:last-child { margin-bottom: auto; }

@media (max-width: 767px) {

    .b-service_prices_payment:last-child { margin-bottom: -25px; }

}

.b-service_prices_payment a { text-decoration: underline; color: #c54080; }
.b-service_prices_payment a:hover { text-decoration: none; }

.b-service_prices_payment_logotypes { white-space: nowrap; }
.b-service_prices_payment_logotypes img { display: inline-block; vertical-align: middle; }
.b-service_prices_payment_logotypes img ~ img { margin-left: 10px; }

.b-service_prices_payment_credit { font: 300 14px/1.15 'Roboto', sans-serif; }

@media (min-width: 1200px) {

    .b-service_prices_payment_label { white-space: nowrap; }

}

/* * * Service :: assistant * * */
.b-service_assistant_buttons { margin-bottom: 15px; }

@media (max-width: 767px) {

    .b-service_assistant_buttons [class*="col-"] ~ [class*="col-"] { margin-top: 10px; }

}

@media (min-width: 768px) {

    .b-service_assistant_buttons { margin-bottom: 24px; }

}

@media (min-width: 1200px) {

    .b-service_assistant_buttons { padding: 0 75px; }

}

.b-service_assistant_buttons_item { padding: 16px 10px; font: 400 16px/1 'Roboto', sans-serif; white-space: nowrap; color: #c54080; background: #fff; border: 1px solid #9c9c9c; border-radius: 6px; }

.b-service_assistant_buttons_item i { vertical-align: middle; margin-right: 10px; font-size: 40px; }
.b-service_assistant_buttons_item span { vertical-align: middle; text-decoration: underline; }

@media (min-width: 768px) {

    .b-service_assistant_buttons_item { font: 400 18px/1 'Roboto', sans-serif; }

}

.b-service_assistant_buttons_item:hover { border-color: #c54080; }
.b-service_assistant_buttons_item:hover span { text-decoration: none; }

.b-service_assistant_label { margin-bottom: 10px; font: 400 14px/1.185 'Roboto', sans-serif; color: #000; }

@media (min-width: 768px) {

    .b-service_assistant_label { margin-bottom: 16px; font: 400 18px/1.185 'Roboto', sans-serif; text-align: center; }

}

.b-service_assistant_form .row { margin-bottom: auto; }

/* * * Service :: reviews * * */
.b-service_reviews_tabs_buttons { margin-bottom: 16px; }

.b-service_reviews_tabs_footer { margin-top: 20px; }

@media (max-width: 767px) {

    .b-service_reviews_tabs .js-tabs-wrapper { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }

    .b-service_reviews_tabs_footer [class*="col-"] ~ [class*="col-"] { margin-top: 12px; }

}

/* * * Service :: faq * * */
.b-service_faq_footer { margin-top: 22px; font: 400 14px/1 'Roboto', sans-serif; }
.b-service_faq_footer a { color: #c54080; }

.b-service_faq_footer .b-section_footer { margin-top: auto; }


/* -------------------- Contacts -------------------- */
/* * * Contacts :: tabs * * */
.b-contacts_tabs { position: relative; padding-top: 3px; }
.b-contacts_tabs a ~ a { margin-left: 24px; }

.b-contacts_tabs a { display: inline-block; position: relative; padding-left: 24px; font: 500 16px/1 'Roboto', sans-serif; text-decoration: none !important; color: #c54181; }
.b-contacts_tabs a:before { position: absolute; left: 0; top: 50%; margin-top: -12px; width: 16px; height: 20px; font-size: 20px; line-height: 20px; }

.b-contacts_tabs a span { border-bottom: 1px solid rgba(197, 65, 129, .65); transition: border-color 250ms; }
.b-contacts_tabs a:hover span { border-bottom-color: transparent; }

.b-contacts_tabs a.i-view-list:before { margin-top: -13px; }

.b-contacts_tabs a.current { color: #949494; }
.b-contacts_tabs a.current span { border-bottom-color: transparent; }

@media (max-width: 479px) {

    .b-contacts_tabs a ~ a { margin-left: auto; }

    .b-contacts_tabs a { padding-left: 0; width: 36px; height: 36px; }
    .b-contacts_tabs a:before { left: 50%; margin-top: -10px; margin-left: -8px; }

    .b-contacts_tabs a.i-view-list:before { margin-top: -11px; }

    .b-contacts_tabs a.current { color: #575757; }

}

.b-contacts .js-tabs-wrapper { position: relative; margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; height: auto !important; }
.b-contacts .js-tabs-wrapper .js-tabs-page { left: 15px; right: 15px; }

@media (min-width: 768px) {

    .b-contacts .js-tabs-wrapper { margin-left: -25px; margin-right: -25px; padding-left: 25px; padding-right: 25px; }
    .b-contacts .js-tabs-wrapper .js-tabs-page { left: 25px; right: 25px; }

}

@media (min-width: 1200px) {

    .b-contacts .js-tabs-wrapper { margin-left: -40px; margin-right: -40px; padding-left: 40px; padding-right: 40px; }
    .b-contacts .js-tabs-wrapper .js-tabs-page { left: 40px; right: 40px; }

}

/* * * Contacts :: list * * */
.b-contacts_card { margin-left: -15px; margin-right: -15px; padding: 16px 15px; color: #575757; }
.b-contacts_card__gray { background: #f7f7f7; }

.b-section__gray .b-contacts_card__gray { background: #fff; }

@media (min-width: 768px) {

    .b-contacts_card { margin-left: -25px; margin-right: -25px; padding: 20px 25px; }

}

@media (min-width: 1200px) {

    .b-contacts_card { margin-left: -40px; margin-right: -40px; padding: 20px 40px; }

}

/* * * Contacts :: list :: header * * */
.b-contacts_card_header_title { position: relative; padding-left: 28px; font: 500 16px/1.185 'Roboto', sans-serif !important; text-transform: none !important; color: #000; }

.b-contacts_card_header_title a { text-decoration: underline; color: inherit; }
.b-contacts_card_header_title a:hover { text-decoration: underline; color: #c54181; }

.b-contacts_card_header_title.i-icon:before { display: block; position: absolute; left: 0; top: 0; font-size: 21px; color: #c54080; }

@media (min-width: 768px) {

    .b-contacts_card_header_title { font: 500 18px/1.335 'Roboto', sans-serif !important; }

}

@media (max-width: 1199px) {

    .b-contacts_card_header_title { margin-bottom: 4px; }

}

.b-contacts_card_metro { list-style: none; font: 400 14px/1.71428571428571 'Roboto', sans-serif; color: #575757; }

.b-contacts_card_metro li { margin: 0; padding-left: 0; }
.b-contacts_card_metro li:before { content: none !important; }

.b-contacts_card_address { font: 400 14px/1.71428571428571 'Roboto', sans-serif; color: #575757; }
.b-contacts_card_address p { margin: 0; }

@media (max-width: 479px) {

    .b-contacts_card_metro,
    .b-contacts_card_address { font: 400 13px/1.5em 'Roboto', sans-serif; }

    .b-contacts_card_appointment { margin-top: 16px; }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-contacts_card_metro,
    .b-contacts_card_address { padding-left: 28px; }

}

@media (max-width: 479px), (min-width: 768px) and (max-width: 1199px) {

    .b-contacts_card_metro li { display: inline; margin-right: 12px; }

}

/* * * Contacts :: list :: box * * */
.b-contacts_card_box { position: relative; padding-top: 16px; }

@media (min-width: 768px) {

    .b-contacts_card_box { padding-top: 20px }

}

@media (min-width: 1200px) {

    .b-contacts_card_box { padding-top: 25px }

}

.b-contacts_card_map { margin-bottom: 25px; }
.b-contacts_card_map_canvas { height: 420px; }

@media (min-width: 768px) {

    .b-contacts_card_map_canvas { height: 270px; }

}

.b-contacts_card_box h3 { margin-bottom: auto; }
.b-contacts_card_box_clinic { font: 400 16px/1 'Roboto', sans-serif; }

@media (max-width: 767px) {

    .b-contacts_card .b-heading [class*="col-"] ~ [class*="col-"] { margin-top: 10px; }

}

.b-contacts_card_text p { margin: 0 0 10px; }
.b-contacts_card_text strong { font-weight: 400; color: #000; }

.b-contacts_card_footer { margin-top: 5px; }
.b-contacts_card_footer_toggle { padding: 0; font: 400 14px/1 'Roboto', sans-serif; color: #c54080; background: none; border: none; border-bottom-width: 1px; border-bottom-style: solid; cursor: pointer; }

/* * * Contacts :: map * * */
.b-contacts_map { margin-left: -15px; margin-right: -15px; margin-bottom: -2px; }
.b-contacts_map_canvas { height: 550px; background: #f5f5f5; }

@media (min-width: 768px) {

    .b-contacts_map { margin-left: -25px; margin-right: -25px; }
    .b-contacts_map_canvas { height: 500px; }

}

@media (min-width: 1200px) {

    .b-contacts_map { margin-left: -40px; margin-right: -40px; }
    .b-contacts_map_canvas { height: 530px; }

}

/* * * Contacts :: map :: card * * */
.b-contacts_card .b-contacts_map_card { display: none; visibility: hidden; }

.b-contacts_map_card { max-width: 450px; font: 300 14px/1.5 'Roboto', sans-serif; color: #575757; }
.b-contacts_map_card_wrap { padding-left: 25px; }

.b-contacts_map_card_title { position: relative; font: 500 18px/1.185 'Roboto', sans-serif !important; text-transform: none !important; color: #000; }

.b-contacts_map_card_title a { text-decoration: none; color: inherit; }
.b-contacts_map_card_title a:hover { text-decoration: none; color: #c54181; }

.b-contacts_map_card_title.i-icon:before { display: block; position: absolute; left: -25px; top: 0; font-size: 21px; color: #c54080; }

.b-contacts_map_card p { margin: 2px 0; }

.b-contacts_map_card_phone { margin-top: 8px !important; font: 300 18px/1.185 'Roboto', sans-serif; }

.b-contacts_map_card_phone a[href^="tel:"] { text-decoration: none; color: inherit; }
.b-contacts_map_card_phone a[href^="tel:"]:hover { color: #c54181; }

.b-contacts_map_card_metro { margin-top: 8px; list-style: none; font: 300 16px/1.5 'Roboto', sans-serif; color: #575757; }

.b-contacts_map_card_metro li { margin: 0; padding-left: 0; }
.b-contacts_map_card_metro li:before { content: none !important; }

.b-contacts_map_card_details { margin-top: 24px; font: 400 1em 'Roboto', sans-serif; }

.b-contacts_map_card_details a { text-decoration: underline; color: #c54181; }
.b-contacts_map_card_details a:hover { text-decoration: none; }

@media (max-width: 767px) {

    .b-contacts_map_card_details { margin-top: 16px; }

}

.b-contacts_map_card_pic,
.b-contacts_map_card_pic img { position: relative; max-width: 100%; height: auto; }

.b-contacts_map_card_pic { display: inline-block; }
.b-contacts_map_card_pic img { display: block; border-radius: 5px; }

.b-contacts_map_card_pic ~ .b-contacts_map_card_appointment { margin-top: 30px; }

@media (max-width: 767px) {

    .b-contacts_map_card { max-width: 95%; }
    .b-contacts_map_card [class*="col-"] ~ [class*="col-"] { margin-top: 16px; }

    .b-contacts_map_card_pic ~ .b-contacts_map_card_appointment { margin-top: 16px; }
    .b-contacts_map_card_pic ~ .b-contacts_map_card_appointment .e-btn { width: 180px; }

}

/* * * Contacts :: map :: balloon * * */
.b-contacts_map [class*="ymaps"][class*="balloon-pane"] { position: static !important; left: auto !important; top: 0 !important; right: 0 !important; -webkit-transform: none !important; transform: none !important; }
.b-contacts_map [class*="ymaps"][class*="balloon-overlay"] { position: static !important; left: auto !important; top: 0 !important; right: 0 !important; }
.b-contacts_map [class*="ymaps"][class*="balloon-overlay"] > * > * { z-index: 10000 !important; left: 20px !important; top: 20px !important; right: 20px !important; background: none !important; border: none !important; -webkit-box-shadow: none; box-shadow: none; }

.b-contacts_map [class*="ymaps"][class*="balloon__layout"] { background: #fff; box-shadow: 0 1px 1px rgba(0, 0, 0, .2); border-radius: 10px; }
.b-contacts_map [class*="ymaps"][class*="balloon__tail"] { display: none; visibility: hidden; }

.b-contacts_map [class*="ymaps"][class*="balloon__content"] { padding: 22px !important; margin: 0 !important; }
.b-contacts_map [class*="ymaps"][class*="balloon__content"] > * { width: auto !important; height: auto !important; }

.b-contacts_map [class*="ymaps"][class*="balloon__close-button"] { position: absolute; top: 2px; right: -2px; padding: 10px; width: 16px; height: 16px; margin: 0; font-size: 16px; line-height: 1; color: #acacac; background: none; border: none; opacity: 1; }
.b-contacts_map [class*="ymaps"][class*="balloon__close-button"]:before { font: 400 16px/1 'Zuub'; content: '\e808'; }

.b-contacts_map [class*="ymaps"][class*="balloon__close-button"]:hover { color: #c54181; }

@media (max-width: 767px) {



}

@media (min-width: 768px) {

    .b-contacts_map [class*="ymaps"][class*="balloon-overlay"] > * > * { left: auto !important; top: auto !important; right: 25px !important; bottom: 35px !important; }
    .b-contacts_map [class*="ymaps"][class*="balloon__content"] { padding: 30px 30px 20px !important; width: 450px; }

}

@media (min-width: 1200px) {

    .b-contacts_map [class*="ymaps"][class*="balloon-overlay"] > * > * { left: auto !important; top: auto !important; right: 40px !important; bottom: 40px !important; }

}


/* -------------------- Main page -------------------- */
/* * * Main page :: Promo * * */
.b-mp-promo { position: relative; margin: -15px -15px 0; }

.b-mp-promo .b-carousel { margin: 0; }
.b-mp-promo .b-carousel.owl-carousel .b-carousel_item { padding: 0; }

@media (max-width: 767px) {

    .b-mp-promo .b-carousel_item { display: block; width: 100%; }

}

@media (min-width: 768px) {

    .b-mp-promo { margin: -15px -25px 0; }

}

@media (min-width: 1200px) {

    .b-mp-promo { margin: -20px -40px 0; }

    .b-mp-promo .b-carousel:after { display: table; clear: both; content: ''; }
    .b-mp-promo .b-carousel .b-carousel_item { display: block; float: left; width: 50%; }

}

/* * * Main page :: Promo :: Slide * * */
.b-mp-promo_slide { position: relative; overflow: hidden; }
.b-mp-promo_slide img { display: block; position: absolute; left: 50%; top: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translate(-50%, -50%); }

.b-mp-promo_slide_wrap { display: block; text-decoration: none; color: inherit; transition: none; }

@media (max-width: 767px) {

    .b-mp-promo_slide { color: #000; transition: color 250ms, background 250ms; box-shadow: inset 0 -8px 12px -4px rgba(0, 0, 0, .025); }
    .b-mp-promo_slide img { display: none; }

    .b-mp-promo .b-carousel_item:nth-child(4n+1) .b-mp-promo_slide { background: #f6e9e3; }
    .b-mp-promo .b-carousel_item:nth-child(4n+2) .b-mp-promo_slide { background: #e8eede; }
    .b-mp-promo .b-carousel_item:nth-child(4n+3) .b-mp-promo_slide { background: #dcebec; }
    .b-mp-promo .b-carousel_item:nth-child(4n+4) .b-mp-promo_slide { background: #f1e3f3; }

    .b-mp-promo .b-carousel_item .b-mp-promo_slide:hover { color: #fff; background: rgba(198, 65, 128, .8); }

}

@media (min-width: 768px) {

    .b-mp-promo_slide { height: 425px; }

}

@media (min-width: 1200px) {

    .b-mp-promo_slide { height: 365px; }

    .b-mp-promo_slide__album img { height: 100%; width: auto; }
    .b-mp-promo_slide__portrait img { height: auto; width: 100%; }

}

/* * * Main page :: Promo :: Slide :: Text * * */
.b-mp-promo_slide_text { display: block; position: absolute; z-index: 1; left: 0; right: 0; bottom: 0; font: 300 16px/1.185 'Roboto', sans-serif; color: #000; background: rgba(255, 255, 255, .7); transition: color 250ms, background 250ms; }

.b-mp-promo_slide_text span,
.b-mp-promo_slide_text strong { display: block; margin: 6px 0; }

.b-mp-promo_slide_text strong { font: 400 1.875em/1.185 'Roboto', sans-serif; }

@media (max-width: 767px) {

    .b-mp-promo_slide_text { position: relative; left: auto; right: auto; bottom: auto; padding: 10px 15px; color: inherit; transition: none; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.5) 100%); background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.5) 100%); background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 60%,rgba(255,255,255,0.5) 100%); }

}

@media (min-width: 768px) {

    .b-mp-promo_slide_text { padding: 10px 25px; }
    .b-mp-promo_slide:hover .b-mp-promo_slide_text { color: #fff; background: rgba(198, 65, 128, .8); }

}

@media (min-width: 1200px) {

    .b-mp-promo_slide_text { padding: 10px 20px; }

}

/* * * .b-mp-promo_slide_text__crimson { color: #fff; background: rgba(198, 65, 128, .8); } * * */

/* * * Main page :: Promo :: Controls * * */
.b-mp-promo .b-carousel_arrow { margin-top: -46px; padding: 7px 8px; width: 16px; height: 18px; background: rgba(255, 255, 255, .35); border-radius: 4px; }
.b-mp-promo .b-carousel_arrow:before { font-size: 15px; line-height: 18px; }

.b-mp-promo .b-carousel_arrow:hover { opacity: 1; background: rgba(255, 255, 255, .75); }

.b-mp-promo .b-carousel_arrow__prev { left: 25px; }
.b-mp-promo .b-carousel_arrow__next { right: 25px; }
.b-mp-promo .b-carousel_arrow__next:before { text-indent: 2px; }

.b-mp-promo .b-carousel_paging { position: absolute; left: 0; right: 0; bottom: 110px; }

.b-mp-promo .b-carousel_paging_bullet span { padding: 0; width: 11px; height: 11px; min-width: 0; border-radius: 50%; background: #fff; border: 2px solid #fff; }
.b-mp-promo .b-carousel_paging_bullet span:before { content: none !important; }

.b-mp-promo .b-carousel_paging_bullet.active span { background: #c54181; border-color: #fff; }
.b-mp-promo .b-carousel_paging_bullet span:hover { background: #c54181; border-color: #c54181; }

/* * * Main page :: Contacts * * */
.b-mp-clinics { padding-bottom: 0; }

.b-mp-clinics .js-tabs-wrapper { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; height: auto !important; }
.b-mp-clinics .js-tabs-wrapper .js-tabs-page { left: 15px; right: 15px; }

@media (min-width: 768px) {

    .b-mp-clinics .js-tabs-wrapper { margin-left: -25px; margin-right: -25px; padding-left: 25px; padding-right: 25px; }
    .b-mp-clinics .js-tabs-wrapper .js-tabs-page { left: 25px; right: 25px; }

}

@media (min-width: 1200px) {

    .b-mp-clinics .js-tabs-wrapper { margin-left: -40px; margin-right: -40px; padding-left: 40px; padding-right: 40px; }
    .b-mp-clinics .js-tabs-wrapper .js-tabs-page { left: 40px; right: 40px; }

}