/* -------------------- Reset -------------------- */
@media print {

    body { height: auto; min-height: 0; color: #000; background: #fff; }
    a { text-decoration: none !important; color: inherit !important; border: none !important; }

}


/* ----------------------- Global ----------------------- */
@media print {

    .g-pull-left { float: left; margin: 6px 30px 12px 0 !important; }
    .g-pull-right { float: right; margin: 6px 0 12px 30px !important; }

    .g-pull-left + *,
    .g-pull-right + * { margin-top: auto !important; }

    .g-pull-wrapper { overflow: hidden; }

    .e-btn,
    .b-form { display: none !important; visibility: hidden !important }

    .container { max-width: 767px !important; }

}


/* -------------------- Page -------------------- */
@media print {

    .b-page { padding: 0; height: auto; min-height: 0; min-width: 768px; }

    .b-page *,
    .b-page *:before { color: #000 !important; }

    .b-notice { display: none; }

    /* * * Page :: Content section * * */
    .b-page_container { padding-top: 0 !important; padding-bottom: 0 !important; }

    /* * * Page :: Content section :: Columns * * */
    .b-main { display: block !important; visibility: visible !important; }

    .b-aside { display: none !important; visibility: hidden !important; }
    .b-aside + .b-main { border-top: none !important; }

}


/* -------------------- Header -------------------- */
@media print {

    .b-header { position: static !important; left: auto !important; right: auto !important; border-bottom: 1px solid #b9c3c8; box-shadow: none !important; }
    .b-header + * { border-top: none; }

    .b-header *,
    .b-header *:before { color: #000 !important; }

    .b-header_nav,
    .b-header_nav_menu_box,

    .b-header_services { display: none; visibility: hidden; }

    .b-header_phone { display: block !important; }

}


/* -------------------- Footer -------------------- */
@media print {

    .b-footer { position: static !important; margin-top: 20px; padding: 20px 0; height: auto; text-align: center; background: none; border-top: 1px solid #b9c3c8; }
    .b-footer_container { padding: 0 !important; }

    .b-footer *,
    .b-footer *:before { text-align: center; background: none; color: #000; }

    .b-footer_links { display: none; visibility: hidden; }

    .b-footer .row-table > [class*="col-"] { vertical-align: middle !important; }
    .b-footer_developer svg path { fill: #000; }

}


/* -------------------- Page elements -------------------- */
/* * * Headers * * */
.b-heading_back { display: none; visibility: hidden; }

.b-main > .b-heading:first-child { margin-top: -24px !important; }


/* -------------------- Typographic -------------------- */
@media print {

    /* * * Wysiwyg * * */
    .b-wysiwyg a { text-decoration: none !important; color: #000 !important; border: none !important; }
    .b-wysiwyg a:after { content: ' (' attr(href) ')'; }

    .b-wysiwyg a[href^="tel:"]:after,
    .b-wysiwyg a[href^="mailto:"]:after,

    .b-fig:after,
    .b-fig a:after,

    .b-fig_video:after,
    .b-fig_video a:after { content: none !important; }

    .b-wysiwyg ol > li:before { color: #000 !important; background: none !important; }
    .b-wysiwyg ul > li:before { width: 0 !important; height: 0 !important; color: #000 !important; border: 2px solid #000; background: none !important; }

    .b-wysiwyg ul.m-check-list > li:before { border: none !important; background: none !important; }

}


/* -------------------- Blocks / elements -------------------- */
@media print {

    .b-dropDown,
    .b-pagination { display: none !important; visibility: hidden !important; }

    .b-quote { margin-left: auto; margin-right: auto; border: 1px dashed #d2d7d7; border-radius: 10px; }

    .b-sentence,
    .b-notification { margin-left: auto; margin-right: auto; background: #f5f5f5 !important; border: 1px dashed #d2d7d7; border-radius: 10px; }

    .b-notification_close { display: none !important; visibility: hidden !important; }

    .b-trigger_price { color: #000 !important; background: none !important; }

}


/* -------------------- UI modules -------------------- */
@media print {

    .js-pocket-box { overflow: visible !important; max-height: none !important; }

    .js-tabs-page { position: static !important; visibility: visible !important; opacity: 1 !important; }
    .js-tabs-page ~ .js-tabs-page { margin-top: 20px; padding-top: 20px; border-top: 1px solid #bac3c8; }

}


/* -------------------- Carousels -------------------- */
.b-carousel_controls { display: none !important; visibility: hidden !important; }
