/* -------------------- ALS Rouble -------------------- */
@font-face {
    font-family: 'ALS Rouble';
    src: url('../fonts/als-rouble/als-rouble.eot');
    src: url('../fonts/als-rouble/als-rouble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/als-rouble/als-rouble.woff') format('woff'),
         url('../fonts/als-rouble/als-rouble.ttf') format('truetype'),
         url('../fonts/als-rouble/als-rouble.svg#ALS Rouble') format('svg');
    font-weight: normal;
    font-style: normal;
}
